In [37]:
import requests
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 74)
pd.set_option('display.max_colwidth', 30)
pd.set_option('max_info_columns', 100)
pd.set_option('max_info_rows', 100)

## accident

read files

In [38]:
osha_accident = pd.read_csv('./data/osha_accident.csv', dtype={
    'summary_nr': str,
    'report_id': str
}, parse_dates=['event_date', 'load_dt'])

/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [39]:
osha_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153021 entries, 0 to 153020
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   summary_nr     object
 1   report_id      object
 2   event_date     datetime64[ns]
 3   event_time     float64
 4   event_desc     object
 5   event_keyword  object
 6   const_end_use  object
 7   build_stories  float64
 8   nonbuild_ht    float64
 9   project_cost   object
 10  project_type   object
 11  sic_list       object
 12  fatality       object
 13  state_flag     float64
 14  abstract_text  float64
 15  load_dt        datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 18.7+ MB

In [40]:
osha_accident.sample(10)

,summary_nr,report_id,event_date,event_time,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,abstract_text,load_dt
102843,202521142,950624,2011-04-06 07:40:00,NaN,Employee Is Injured When H...,"AMPUTATED,FINGER,CRUSHED,HAND",NaN,NaN,NaN,NaN,NaN,161,NaN,NaN,NaN,2019-07-22 00:18:31
28845,170127492,751910,1994-08-29 12:30:00,NaN,Employee dies in fall from...,"GUARDRAIL,ROOF,FALL,FALL P...",NaN,NaN,NaN,NaN,NaN,7342,X,NaN,NaN,2019-07-22 00:18:29
100954,202487674,950621,2008-09-02 13:56:00,NaN,Employee Is Injured in Fal...,"CONCRETE FORM WORK,FRACTUR...",C,5.0,NaN,F,A,1541,NaN,NaN,NaN,2019-07-22 00:18:31
84018,201507522,950614,2007-03-30 11:00:00,NaN,Employee Is Injured in Fal...,"FRACTURE,LIGAMENT,SLIP,CON...",A,1.0,NaN,E,A,1794,NaN,NaN,NaN,2019-07-22 00:18:30
99049,202464178,950643,2006-11-22 13:05:00,NaN,Employee's Eye Is Lacerate...,"EYE,GRINDER,ROTATING PARTS...",NaN,NaN,NaN,NaN,NaN,7538,NaN,NaN,NaN,2019-07-22 00:18:31
70351,201106184,950624,2005-02-04 11:16:00,NaN,Employee Lacerates Fingers...,"KICK BACK,PORTABLE POWER T...",A,2.0,NaN,E,A,1751,NaN,NaN,NaN,2019-07-22 00:18:30
107528,202657441,950643,2013-02-07 10:30:00,NaN,Employee Fractures Foot Wh...,"FRACTURE,LATHE,HOISTING ME...",NaN,NaN,NaN,NaN,NaN,8711,NaN,NaN,NaN,2019-07-22 00:18:31
29111,170150791,950643,1993-03-24 10:15:00,NaN,Employee's foot is run ove...,"WHEEL,IND TRK OPERATOR,WOR...",NaN,NaN,NaN,NaN,NaN,5961,NaN,NaN,NaN,2019-07-22 00:18:29
46185,200030914,521700,2000-06-07 10:15:00,NaN,Employee killed in fall fr...,"FRACTURE,HEAD,HORSE,ANIMAL...",NaN,NaN,NaN,NaN,NaN,8999,X,NaN,NaN,2019-07-22 00:18:29
99544,202469235,950643,2010-06-15 08:50:00,NaN,Employee Injured in Forkli...,"FRACTURE,THIGH,INDUSTRIAL ...",NaN,NaN,NaN,NaN,NaN,181,NaN,NaN,NaN,2019-07-22 00:18:31

In [41]:
osha_accident_injury = pd.read_csv('./data/osha_accident_injury.csv', dtype={
    'summary_nr': str,
    'rel_insp_nr': str
})

In [42]:
osha_accident_injury.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218483 entries, 0 to 218482
Data columns (total 21 columns):
 #   Column          Dtype
---  ------          -----
 0   summary_nr      object
 1   rel_insp_nr     object
 2   age             int64
 3   sex             object
 4   nature_of_inj   float64
 5   part_of_body    float64
 6   src_of_injury   float64
 7   event_type      float64
 8   evn_factor      float64
 9   hum_factor      float64
 10  occ_code        float64
 11  degree_of_inj   float64
 12  task_assigned   float64
 13  hazsub          object
 14  const_op        float64
 15  const_op_cause  float64
 16  fat_cause       float64
 17  fall_distance   float64
 18  fall_ht         float64
 19  injury_line_nr  int64
 20  load_dt         object
dtypes: float64(14), int64(2), object(5)
memory usage: 35.0+ MB

In [43]:
osha_accident_injury.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218483 entries, 0 to 218482
Data columns (total 21 columns):
 #   Column          Dtype
---  ------          -----
 0   summary_nr      object
 1   rel_insp_nr     object
 2   age             int64
 3   sex             object
 4   nature_of_inj   float64
 5   part_of_body    float64
 6   src_of_injury   float64
 7   event_type      float64
 8   evn_factor      float64
 9   hum_factor      float64
 10  occ_code        float64
 11  degree_of_inj   float64
 12  task_assigned   float64
 13  hazsub          object
 14  const_op        float64
 15  const_op_cause  float64
 16  fat_cause       float64
 17  fall_distance   float64
 18  fall_ht         float64
 19  injury_line_nr  int64
 20  load_dt         object
dtypes: float64(14), int64(2), object(5)
memory usage: 35.0+ MB

In [44]:
# check accident date

osha_accident['event_date'].max()

Timestamp('2022-12-31 00:00:00')

In [45]:
osha_accident['event_date'].min()

Timestamp('1972-09-21 00:00:00')

subset to accidents after 2013

In [46]:
# subset to accidents after 2013

osha_accident_p2013 = osha_accident[
    osha_accident['event_date'] >= '2013-01-01 00:00:00'
]

In [47]:
osha_accident_p2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45598 entries, 25489 to 152943
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   summary_nr     object
 1   report_id      object
 2   event_date     datetime64[ns]
 3   event_time     float64
 4   event_desc     object
 5   event_keyword  object
 6   const_end_use  object
 7   build_stories  float64
 8   nonbuild_ht    float64
 9   project_cost   object
 10  project_type   object
 11  sic_list       object
 12  fatality       object
 13  state_flag     float64
 14  abstract_text  float64
 15  load_dt        datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 5.9+ MB

## merge accident & injury

In [48]:
osha_accident_merged = pd.merge(
    osha_accident_p2013,
    osha_accident_injury,
    on='summary_nr',
    how='left',
    validate='1:m'
)
osha_accident_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49771
Data columns (total 36 columns):
 #   Column          Dtype
---  ------          -----
 0   summary_nr      object
 1   report_id       object
 2   event_date      datetime64[ns]
 3   event_time      float64
 4   event_desc      object
 5   event_keyword   object
 6   const_end_use   object
 7   build_stories   float64
 8   nonbuild_ht     float64
 9   project_cost    object
 10  project_type    object
 11  sic_list        object
 12  fatality        object
 13  state_flag      float64
 14  abstract_text   float64
 15  load_dt_x       datetime64[ns]
 16  rel_insp_nr     object
 17  age             float64
 18  sex             object
 19  nature_of_inj   float64
 20  part_of_body    float64
 21  src_of_injury   float64
 22  event_type      float64
 23  evn_factor      float64
 24  hum_factor      float64
 25  occ_code        float64
 26  degree_of_inj   float64
 27  task_assigned   float64
 28  hazsub          object
 29  const_op        float64
 30  const_op_cause  float64
 31  fat_cause       float64
 32  fall_distance   float64
 33  fall_ht         float64
 34  injury_line_nr  float64
 35  load_dt_y       object
dtypes: datetime64[ns](2), float64(21), object(13)
memory usage: 14.1+ MB

In [49]:
osha_accident_merged.sample(10)

,summary_nr,report_id,event_date,event_time,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,abstract_text,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,load_dt_y
40017,221303449,0355118,2020-09-16 00:00:00,NaN,EMPLOYEE IS KILLED WHEN ST...,"ANIMAL,ANIMAL HANDLER,BLUN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:42,344933882,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,473.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT
2831,202719118,950612,2014-01-21 13:23:00,NaN,Demolition Worker Fracture...,"FRACTURE,DEMOLITION,COLLAP...",D,2.0,NaN,B,D,1522,NaN,NaN,NaN,2019-07-22 00:18:31,317351757,34.0,M,12.0,3.0,5.0,5.0,13.0,1.0,999.0,2.0,1.0,NaN,5.0,5.0,20.0,NaN,13.0,1.0,2019-07-22 00:18:41 EDT
6879,220821292,0418300,2016-01-07 00:00:00,NaN,EMPLOYEE IS KILLED WHEN ST...,"SPEEDING,STRUCK BY,VEHICLE",I,0.0,0.0,F,A,NaN,X,NaN,NaN,2023-07-03 00:18:43,341166619,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,51.0,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT
28223,221133028,0524700,2019-02-03 00:00:00,NaN,EMPLOYEE FRACTURES SIX RIB...,"BARGE,FALL,FRACTURE,LADDER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,343758686,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:55 EDT
1037,202034039,253610,2014-02-03 06:40:00,NaN,Employee Is Shot and Kille...,"GUNSHOT,WORKPLACE VIOLENCE",NaN,NaN,NaN,NaN,NaN,4941,X,NaN,NaN,2019-07-22 00:18:30,317041929,33.0,M,21.0,5.0,33.0,14.0,18.0,14.0,999.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,2019-07-22 00:18:41 EDT
39200,221287659,0552651,2020-08-19 00:00:00,NaN,WORKER IS KILLED IN COLLAP...,"ASPHYXIATED,BURIED,CAUGHT ...",A,NaN,NaN,NaN,A,NaN,X,NaN,NaN,2023-07-03 00:18:42,344888151,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,869.0,1.0,2.0,NaN,NaN,11.0,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT
17186,221015902,0552652,2017-08-05 00:00:00,NaN,EMPLOYEE IS CRUSHED WHEN T...,"CRUSHED,TRACTOR",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:44,342838539,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,479.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:57 EDT
34448,221201932,0950644,2019-04-03 00:00:00,NaN,EMPLOYEE FRACTURES TIBIA A...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,343930996,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT
49296,221504947,0418800,2022-09-28 00:00:00,NaN,EMPLOYEE IS KILLED BY CARD...,"CARDIAC ARREST,CARDIOVASC ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:42,346268535,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,7016.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT
18081,221025679,0950633,2018-01-24 00:00:00,NaN,EMPLOYEE'S FINGERTIP IS AM...,"AMPUTATION,CAUGHT IN,FINGE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342906013,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2023-07-03 00:18:56 EDT

check duplicates

In [50]:
osha_accident_merged[osha_accident_merged['summary_nr'].duplicated()]

,summary_nr,report_id,event_date,event_time,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,abstract_text,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,load_dt_y
16,170784631,950621,2013-04-24 12:20:00,NaN,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,1.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,2.0,2019-07-22 00:18:40 EDT
17,170784631,950621,2013-04-24 12:20:00,NaN,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,2.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,3.0,2019-07-22 00:18:40 EDT
62,200075299,453720,2013-05-01 16:00:00,NaN,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,NaN,2019-07-22 00:18:29,316908938,27.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,2019-07-22 00:18:40 EDT
63,200075299,453720,2013-05-01 16:00:00,NaN,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,NaN,2019-07-22 00:18:29,316908938,47.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,3.0,2019-07-22 00:18:40 EDT
67,200075331,453720,2013-05-30 10:30:00,NaN,Two Employees Struck by Fa...,"LIMBING,TREE,FALL,STRUCK BY",NaN,NaN,NaN,NaN,NaN,783,NaN,NaN,NaN,2019-07-22 00:18:29,317097475,39.0,M,12.0,14.0,43.0,1.0,5.0,1.0,496.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,2019-07-22 00:18:40 EDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49731,221551229,0150900,2022-10-12 00:00:00,NaN,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2023-07-03 00:18:56 EDT
49732,221551229,0150900,2022-10-12 00:00:00,NaN,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2023-07-03 00:18:56 EDT
49741,221554728,0626600,2022-12-05 00:00:00,NaN,"ONE EMPLOYEE IS KILLED, ON...","BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,2023-07-03 00:18:42,346377096,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,633.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2023-07-03 00:18:56 EDT
49744,221556806,0355111,2022-03-10 00:00:00,NaN,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,2.0,2023-07-03 00:18:56 EDT
49745,221556806,0355111,2022-03-10 00:00:00,NaN,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,3.0,2023-07-03 00:18:56 EDT

## concat accident abstract tables

In [51]:
accident_abs0 = pd.read_csv('./data/osha_accident_abstract_20230703.csv/osha_accident_abstract0.csv', dtype={
    'summary_nr': str
})

accident_abs1 = pd.read_csv('./data/osha_accident_abstract_20230703.csv/osha_accident_abstract1.csv', dtype={
    'summary_nr': str
})

In [52]:
accident_abs0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   summary_nr     object
 1   line_nr        int64
 2   abstract_text  object
 3   load_dt        object
dtypes: int64(1), object(3)
memory usage: 30.5+ MB

In [53]:
accident_abs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61393 entries, 0 to 61392
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   summary_nr     object
 1   line_nr        int64
 2   abstract_text  object
 3   load_dt        object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [54]:
accident_abs= pd.concat([accident_abs0, accident_abs1], axis=0)

In [55]:
accident_abs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1061393 entries, 0 to 61392
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   summary_nr     object
 1   line_nr        int64
 2   abstract_text  object
 3   load_dt        object
dtypes: int64(1), object(3)
memory usage: 40.5+ MB

In [56]:
accident_abs

,summary_nr,line_nr,abstract_text,load_dt
0,38083,1,An employee working for As...,2019-07-22 00:19:26 EDT
1,38083,2,assigned task when the per...,2019-07-22 00:19:26 EDT
2,38083,3,oyee was killed.,2019-07-22 00:19:26 EDT
3,45203,1,THE EMPLOYEES WERE OPERATI...,2019-07-22 00:19:26 EDT
4,45203,2,"CORPORATION, STEELTON PLAN...",2019-07-22 00:19:26 EDT
...,...,...,...,...
61388,980213516,3,gh-rise office building un...,2019-07-22 00:19:27 EDT
61389,980213516,4,ncrete at the edge of the ...,2019-07-22 00:19:27 EDT
61390,980213516,5,ls. Employee #1 was pullin...,2019-07-22 00:19:27 EDT
61391,980213516,6,off the edge of the build...,2019-07-22 00:19:27 EDT
61392,980213516,7,a safety belt or lanyard.,2019-07-22 00:19:27 EDT

In [57]:
# check for n/a

accident_abs.isnull().sum()

summary_nr         0
line_nr            0
abstract_text    561
load_dt            0
dtype: int64

There are 561 N/A in the `abstract_text` column.

In [58]:
# fill the N/A value with 0

accident_abs = accident_abs.fillna('none')

In [59]:
accident_abs['abstract_text'] = accident_abs.groupby(['summary_nr'])['abstract_text'].transform(lambda x: ''.join(x))

In [60]:
accident_abs = accident_abs.drop_duplicates('summary_nr').reset_index(drop=True)

In [61]:
accident_abs

,summary_nr,line_nr,abstract_text,load_dt
0,38083,1,An employee working for As...,2019-07-22 00:19:26 EDT
1,45203,1,THE EMPLOYEES WERE OPERATI...,2019-07-22 00:19:26 EDT
2,51821,1,An apprentice lineman was ...,2019-07-22 00:19:27 EDT
3,65854,1,A power line worker was ta...,2019-07-22 00:19:30 EDT
4,185231,1,A power line worker workin...,2019-07-22 00:19:27 EDT
...,...,...,...,...
153009,903050607,1,"On March 9, 1998, Employee...",2019-07-22 00:19:30 EDT
153010,903077535,1,A journeyman electrician w...,2019-07-22 00:19:31 EDT
153011,903080125,1,A plumber was repairing a ...,2019-07-22 00:19:27 EDT
153012,907015416,1,The iron and steel clean o...,2019-07-22 00:19:31 EDT
153013,980213516,1,Employee #1 was a laborer ...,2019-07-22 00:19:27 EDT

## merge accident abstract with the main accident table

In [62]:
# merge tables

accident_p2013_abstract = pd.merge(
    osha_accident_merged,
    accident_abs,
    on='summary_nr',
    how='left',
    validate='m:1'
)

In [86]:
accident_p2013_abstract.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49771
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary_nr      49772 non-null  object
 1   report_id       49772 non-null  object
 2   event_date      49772 non-null  datetime64[ns]
 3   event_desc      49772 non-null  object
 4   event_keyword   49652 non-null  object
 5   const_end_use   9918 non-null   object
 6   build_stories   7025 non-null   float64
 7   nonbuild_ht     5314 non-null   float64
 8   project_cost    2638 non-null   object
 9   project_type    10352 non-null  object
 10  sic_list        2915 non-null   object
 11  fatality        20787 non-null  object
 12  state_flag      0 non-null      float64
 13  load_dt         49772 non-null  datetime64[ns]
 14  rel_insp_nr     49771 non-null  object
 15  age             49771 non-null  float64
 16  sex             2855 non-null   object
 17  nature_of_inj   4609 non-null   float64
 18  part_of_body    4607 non-null   float64
 19  src_of_injury   4607 non-null   float64
 20  event_type      49697 non-null  float64
 21  evn_factor      4602 non-null   float64
 22  hum_factor      4604 non-null   float64
 23  occ_code        43654 non-null  float64
 24  degree_of_inj   49697 non-null  float64
 25  task_assigned   38267 non-null  float64
 26  hazsub          316 non-null    object
 27  const_op        3619 non-null   float64
 28  const_op_cause  12000 non-null  float64
 29  fat_cause       3529 non-null   float64
 30  fall_distance   3183 non-null   float64
 31  fall_ht         3356 non-null   float64
 32  injury_line_nr  49771 non-null  float64
 33  abstract_text   49770 non-null  object
dtypes: datetime64[ns](2), float64(19), object(13)
memory usage: 13.3+ MB

In [64]:
# drop some columns 

accident_p2013_abstract = accident_p2013_abstract.drop(columns=['abstract_text_x', 'load_dt', 'load_dt_y', 'event_time', 'line_nr'])

In [65]:
accident_p2013_abstract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49771
Data columns (total 34 columns):
 #   Column           Dtype
---  ------           -----
 0   summary_nr       object
 1   report_id        object
 2   event_date       datetime64[ns]
 3   event_desc       object
 4   event_keyword    object
 5   const_end_use    object
 6   build_stories    float64
 7   nonbuild_ht      float64
 8   project_cost     object
 9   project_type     object
 10  sic_list         object
 11  fatality         object
 12  state_flag       float64
 13  load_dt_x        datetime64[ns]
 14  rel_insp_nr      object
 15  age              float64
 16  sex              object
 17  nature_of_inj    float64
 18  part_of_body     float64
 19  src_of_injury    float64
 20  event_type       float64
 21  evn_factor       float64
 22  hum_factor       float64
 23  occ_code         float64
 24  degree_of_inj    float64
 25  task_assigned    float64
 26  hazsub           object
 27  const_op         float64
 28  const_op_cause   float64
 29  fat_cause        float64
 30  fall_distance    float64
 31  fall_ht          float64
 32  injury_line_nr   float64
 33  abstract_text_y  object
dtypes: datetime64[ns](2), float64(19), object(13)
memory usage: 13.3+ MB

In [66]:
# rename columns

accident_p2013_abstract.rename(columns={
    'abstract_text_y': 'abstract_text',
    'load_dt_x': 'load_dt'
}, inplace=True)

In [67]:
accident_p2013_abstract

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
0,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,NaN,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....
1,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,NaN,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ..."
2,102101375,453730,2013-08-13 13:00:00,Employee Receives Burn aft...,"BURN,STRUCK AGAINST,ELEC C...",NaN,NaN,NaN,NaN,NaN,8711,NaN,NaN,2019-07-22 00:18:28,317261360,37.0,M,10.0,7.0,5.0,6.0,13.0,9.0,696.0,3.0,1.0,8870,0.0,0.0,0.0,NaN,NaN,1.0,"On August 13, 2013, Employ..."
3,102910494,950612,2014-03-05 15:30:00,Employee's Thigh Is Impale...,"ATTACHMENT HOOK,IMPALED,TH...",NaN,NaN,NaN,NaN,NaN,761,NaN,NaN,2019-07-22 00:18:28,317587053,25.0,M,18.0,23.0,22.0,1.0,18.0,14.0,889.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On March 5, 2014, Employee..."
4,170627483,950621,2013-02-18 14:15:00,Machine Operator Amputates...,"AIR PRESSURE,AMPUTATED,FIN...",NaN,NaN,NaN,NaN,NaN,5172,NaN,NaN,2019-07-22 00:18:29,316521202,25.0,M,1.0,10.0,26.0,2.0,3.0,1.0,715.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On February 18, 2013, Empl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49767,317142388,950631,2013-06-13 17:20:00,Employee Is Injured When S...,"INDUSTRIAL TRUCK,TRUCK,PAL...",NaN,NaN,NaN,NaN,NaN,4212,NaN,NaN,2019-07-22 00:18:31,317142305,69.0,M,21.0,1.0,7.0,1.0,13.0,1.0,804.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 13, 2013, Employee..."
49768,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl..."
49769,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ..."
49770,317248219,950621,2013-11-26 10:45:00,Employee Falls from Porch ...,"FRACTURE,SLIP,HANDRAIL,WAL...",NaN,NaN,NaN,NaN,NaN,8051,NaN,NaN,2019-07-22 00:18:31,317248219,49.0,M,12.0,16.0,42.0,5.0,8.0,10.0,999.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At about 10:45 a.m. on Nov...
49771,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,NaN,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ..."

multiple row with the same summary_id = multiple people involved

In [68]:
accident_p2013_abstract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49771
Data columns (total 34 columns):
 #   Column          Dtype
---  ------          -----
 0   summary_nr      object
 1   report_id       object
 2   event_date      datetime64[ns]
 3   event_desc      object
 4   event_keyword   object
 5   const_end_use   object
 6   build_stories   float64
 7   nonbuild_ht     float64
 8   project_cost    object
 9   project_type    object
 10  sic_list        object
 11  fatality        object
 12  state_flag      float64
 13  load_dt         datetime64[ns]
 14  rel_insp_nr     object
 15  age             float64
 16  sex             object
 17  nature_of_inj   float64
 18  part_of_body    float64
 19  src_of_injury   float64
 20  event_type      float64
 21  evn_factor      float64
 22  hum_factor      float64
 23  occ_code        float64
 24  degree_of_inj   float64
 25  task_assigned   float64
 26  hazsub          object
 27  const_op        float64
 28  const_op_cause  float64
 29  fat_cause       float64
 30  fall_distance   float64
 31  fall_ht         float64
 32  injury_line_nr  float64
 33  abstract_text   object
dtypes: datetime64[ns](2), float64(19), object(13)
memory usage: 13.3+ MB

### Export the accident csv

Keep a version of the csv file with duplicate `summary_nr` to indicate different employees.

In [69]:
accident_p2013_abstract.to_csv('./accident_w_abs_p2013.csv', index=False)

In [70]:
accident_p2013_abstract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49771
Data columns (total 34 columns):
 #   Column          Dtype
---  ------          -----
 0   summary_nr      object
 1   report_id       object
 2   event_date      datetime64[ns]
 3   event_desc      object
 4   event_keyword   object
 5   const_end_use   object
 6   build_stories   float64
 7   nonbuild_ht     float64
 8   project_cost    object
 9   project_type    object
 10  sic_list        object
 11  fatality        object
 12  state_flag      float64
 13  load_dt         datetime64[ns]
 14  rel_insp_nr     object
 15  age             float64
 16  sex             object
 17  nature_of_inj   float64
 18  part_of_body    float64
 19  src_of_injury   float64
 20  event_type      float64
 21  evn_factor      float64
 22  hum_factor      float64
 23  occ_code        float64
 24  degree_of_inj   float64
 25  task_assigned   float64
 26  hazsub          object
 27  const_op        float64
 28  const_op_cause  float64
 29  fat_cause       float64
 30  fall_distance   float64
 31  fall_ht         float64
 32  injury_line_nr  float64
 33  abstract_text   object
dtypes: datetime64[ns](2), float64(19), object(13)
memory usage: 13.3+ MB

subset duplicates

In [87]:
accident_p2013_abstract[accident_p2013_abstract['summary_nr'].duplicated()]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
16,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,1.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,2.0,"On April 24, 2013, Employe..."
17,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,2.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,3.0,"On April 24, 2013, Employe..."
62,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,27.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,"On May 1, 2013, Employees ..."
63,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,47.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,3.0,"On May 1, 2013, Employees ..."
67,200075331,453720,2013-05-30 10:30:00,Two Employees Struck by Fa...,"LIMBING,TREE,FALL,STRUCK BY",NaN,NaN,NaN,NaN,NaN,783,NaN,NaN,2019-07-22 00:18:29,317097475,39.0,M,12.0,14.0,43.0,1.0,5.0,1.0,496.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,An incident occurred as Em...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49731,221551229,0150900,2022-10-12 00:00:00,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,At 10:45 p.m. on October 1...
49732,221551229,0150900,2022-10-12 00:00:00,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,At 10:45 p.m. on October 1...
49741,221554728,0626600,2022-12-05 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346377096,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,633.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,At 7:40 p.m. on December 5...
49744,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,2.0,"At 8:30 a.m. on March 10, ..."
49745,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,3.0,"At 8:30 a.m. on March 10, ..."

In [72]:
dupe_cases = accident_p2013_abstract[accident_p2013_abstract['summary_nr'].duplicated()].copy()

In [73]:
dupe_cases

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
16,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,1.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,2.0,"On April 24, 2013, Employe..."
17,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,2.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,3.0,"On April 24, 2013, Employe..."
62,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,27.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,"On May 1, 2013, Employees ..."
63,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,47.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,3.0,"On May 1, 2013, Employees ..."
67,200075331,453720,2013-05-30 10:30:00,Two Employees Struck by Fa...,"LIMBING,TREE,FALL,STRUCK BY",NaN,NaN,NaN,NaN,NaN,783,NaN,NaN,2019-07-22 00:18:29,317097475,39.0,M,12.0,14.0,43.0,1.0,5.0,1.0,496.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,An incident occurred as Em...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49731,221551229,0150900,2022-10-12 00:00:00,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,At 10:45 p.m. on October 1...
49732,221551229,0150900,2022-10-12 00:00:00,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,At 10:45 p.m. on October 1...
49741,221554728,0626600,2022-12-05 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346377096,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,633.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,At 7:40 p.m. on December 5...
49744,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,2.0,"At 8:30 a.m. on March 10, ..."
49745,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,3.0,"At 8:30 a.m. on March 10, ..."

In [74]:
dupe_cases_ids = dupe_cases['summary_nr'].unique()

In [75]:
dupe_cases_ids

array(['170784631', '200075299', '200075331', ..., '221551229',
       '221554728', '221556806'], dtype=object)

In [76]:
accident_p2013_abstract[accident_p2013_abstract['summary_nr'].isin(dupe_cases_ids)].sort_values(by='summary_nr')

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
15,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,40.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,1.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,1.0,"On April 24, 2013, Employe..."
16,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,1.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,2.0,"On April 24, 2013, Employe..."
17,170784631,950621,2013-04-24 12:20:00,One Employee Is Injured in...,"MAINTENANCE,ROCK,STRUCK BY...",I,NaN,150.0,A,C,1611,X,NaN,2019-07-22 00:18:29,125829218,50.0,M,12.0,4.0,42.0,1.0,6.0,1.0,599.0,2.0,1.0,NaN,46.0,46.0,30.0,NaN,NaN,3.0,"On April 24, 2013, Employe..."
61,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,52.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On May 1, 2013, Employees ..."
62,200075299,453720,2013-05-01 16:00:00,Three Employees Suffers Bu...,"BURN,FIRE,PROPANE,TANK",NaN,NaN,NaN,NaN,NaN,5984,NaN,NaN,2019-07-22 00:18:29,316908938,27.0,M,5.0,19.0,16.0,14.0,18.0,14.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,2.0,"On May 1, 2013, Employees ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49740,221554728,0626600,2022-12-05 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346377096,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,889.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:40 p.m. on December 5...
49741,221554728,0626600,2022-12-05 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346377096,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,633.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,At 7:40 p.m. on December 5...
49744,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,2.0,"At 8:30 a.m. on March 10, ..."
49743,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on March 10, ..."
49745,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,3.0,"At 8:30 a.m. on March 10, ..."

In [302]:
accident_p2013_abstract_no_dupe = accident_p2013_abstract.drop_duplicates(subset=['summary_nr'])
accident_p2013_abstract_no_dupe

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
0,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,NaN,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....
1,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,NaN,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ..."
2,102101375,453730,2013-08-13 13:00:00,Employee Receives Burn aft...,"BURN,STRUCK AGAINST,ELEC C...",NaN,NaN,NaN,NaN,NaN,8711,NaN,NaN,2019-07-22 00:18:28,317261360,37.0,M,10.0,7.0,5.0,6.0,13.0,9.0,696.0,3.0,1.0,8870,0.0,0.0,0.0,NaN,NaN,1.0,"On August 13, 2013, Employ..."
3,102910494,950612,2014-03-05 15:30:00,Employee's Thigh Is Impale...,"ATTACHMENT HOOK,IMPALED,TH...",NaN,NaN,NaN,NaN,NaN,761,NaN,NaN,2019-07-22 00:18:28,317587053,25.0,M,18.0,23.0,22.0,1.0,18.0,14.0,889.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On March 5, 2014, Employee..."
4,170627483,950621,2013-02-18 14:15:00,Machine Operator Amputates...,"AIR PRESSURE,AMPUTATED,FIN...",NaN,NaN,NaN,NaN,NaN,5172,NaN,NaN,2019-07-22 00:18:29,316521202,25.0,M,1.0,10.0,26.0,2.0,3.0,1.0,715.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On February 18, 2013, Empl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49767,317142388,950631,2013-06-13 17:20:00,Employee Is Injured When S...,"INDUSTRIAL TRUCK,TRUCK,PAL...",NaN,NaN,NaN,NaN,NaN,4212,NaN,NaN,2019-07-22 00:18:31,317142305,69.0,M,21.0,1.0,7.0,1.0,13.0,1.0,804.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 13, 2013, Employee..."
49768,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl..."
49769,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ..."
49770,317248219,950621,2013-11-26 10:45:00,Employee Falls from Porch ...,"FRACTURE,SLIP,HANDRAIL,WAL...",NaN,NaN,NaN,NaN,NaN,8051,NaN,NaN,2019-07-22 00:18:31,317248219,49.0,M,12.0,16.0,42.0,5.0,8.0,10.0,999.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At about 10:45 a.m. on Nov...
49771,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,NaN,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ..."

export the csv with no duplicates

In [346]:
accident_p2013_abstract_no_dupe.to_csv('./accident_w_abs_p2013_nodupe_summary.csv', index=False)

# Inspections

In [176]:
# read file

inspection0 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection0.csv', dtype={
    'activity_nr': str,
    'reporting_id': str,
    'site_zip': str,
    'owner_code': str,
    'naics_code': str,
    'mail_zip': str,
    'sic_code': str
}, parse_dates=['open_date', 'case_mod_date', 'close_conf_date', 'close_case_date', 'ld_dt'])

inspection1 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection1.csv', dtype={
    'activity_nr': str,
    'reporting_id': str,
    'site_zip': str,
    'owner_code': str,
    'naics_code': str,
    'mail_zip': str,
    'sic_code': str
}, parse_dates=['open_date', 'case_mod_date', 'close_conf_date', 'close_case_date', 'ld_dt'])

inspection2 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection2.csv', dtype={
    'activity_nr': str,
    'reporting_id': str,
    'site_zip': str,
    'owner_code': str,
    'naics_code': str,
    'mail_zip': str,
    'sic_code': str
}, parse_dates=['open_date', 'case_mod_date', 'close_conf_date', 'close_case_date', 'ld_dt'])

inspection3 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection3.csv', dtype={
    'activity_nr': str,
    'reporting_id': str,
    'site_zip': str,
    'owner_code': str,
    'naics_code': str,
    'mail_zip': str,
    'sic_code': str
}, parse_dates=['open_date', 'case_mod_date', 'close_conf_date', 'close_case_date', 'ld_dt'])

inspection4 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection4.csv', dtype={
    'activity_nr': str,
    'reporting_id': str,
    'site_zip': str,
    'owner_code': str,
    'naics_code': str,
    'mail_zip': str,
    'sic_code': str
}, parse_dates=['open_date', 'case_mod_date', 'close_conf_date', 'close_case_date', 'ld_dt'])

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/387525203.py:3: DtypeWarning: Columns (8,16,20,23,24,25,26,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection0 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection0.csv', dtype={
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/387525203.py:13: DtypeWarning: Columns (18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection1 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection1.csv', dtype={
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/387525203.py:23: DtypeWarning: Columns (16,18,20,22,23,24,25,26,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection2 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection2.csv', dtype={
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/387525203.py:33: DtypeWarning: Columns (20,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection3 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection3.csv', dtype={
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/387525203.py:43: DtypeWarning: Columns (18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection4 = pd.read_csv('./data/osha_inspection_20230703.csv/osha_inspection4.csv', dtype={
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/junyao/.pyenv/versions/3.9.4/envs/j233-files-3.9.4/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [175]:
inspection0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 36 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   activity_nr      1000000 non-null  object
 1   reporting_id     1000000 non-null  object
 2   state_flag       0 non-null        float64
 3   estab_name       1000000 non-null  object
 4   site_address     999986 non-null   object
 5   site_city        994665 non-null   object
 6   site_state       1000000 non-null  object
 7   site_zip         1000000 non-null  object
 8   owner_type       323753 non-null   object
 9   owner_code       999966 non-null   object
 10  adv_notice       327535 non-null   object
 11  safety_hlth      1000000 non-null  object
 12  sic_code         1000000 non-null  object
 13  naics_code       999966 non-null   object
 14  insp_type        1000000 non-null  object
 15  insp_scope       1000000 non-null  object
 16  why_no_insp      38839 non-null    object
 17  union_status     979390 non-null   object
 18  safety_manuf     227730 non-null   object
 19  safety_const     391029 non-null   object
 20  safety_marit     20955 non-null    object
 21  health_manuf     47772 non-null    object
 22  health_const     8645 non-null     object
 23  health_marit     1161 non-null     object
 24  migrant          14109 non-null    object
 25  mail_street      236236 non-null   object
 26  mail_city        235342 non-null   object
 27  mail_state       234459 non-null   object
 28  mail_zip         999982 non-null   object
 29  host_est_key     18444 non-null    object
 30  nr_in_estab      973077 non-null   float64
 31  open_date        1000000 non-null  datetime64[ns]
 32  case_mod_date    36239 non-null    datetime64[ns]
 33  close_conf_date  991666 non-null   datetime64[ns]
 34  close_case_date  999332 non-null   datetime64[ns]
 35  ld_dt            1000000 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(2), object(29)
memory usage: 274.7+ MB

In [178]:
# concatenate 

inspection = pd.concat([inspection0, inspection1, inspection2, inspection3, inspection4], axis=0)

In [190]:
inspection.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4966710 entries, 0 to 966709
Data columns (total 36 columns):
 #   Column           Dtype
---  ------           -----
 0   activity_nr      object
 1   reporting_id     object
 2   state_flag       float64
 3   estab_name       object
 4   site_address     object
 5   site_city        object
 6   site_state       object
 7   site_zip         object
 8   owner_type       object
 9   owner_code       object
 10  adv_notice       object
 11  safety_hlth      object
 12  sic_code         object
 13  naics_code       object
 14  insp_type        object
 15  insp_scope       object
 16  why_no_insp      object
 17  union_status     object
 18  safety_manuf     object
 19  safety_const     object
 20  safety_marit     object
 21  health_manuf     object
 22  health_const     object
 23  health_marit     object
 24  migrant          object
 25  mail_street      object
 26  mail_city        object
 27  mail_state       object
 28  mail_zip         object
 29  host_est_key     object
 30  nr_in_estab      float64
 31  open_date        datetime64[ns]
 32  case_mod_date    datetime64[ns]
 33  close_conf_date  datetime64[ns]
 34  close_case_date  object
 35  ld_dt            datetime64[ns]
dtypes: datetime64[ns](4), float64(2), object(30)
memory usage: 1.4+ GB

### merge inspection and accident

In [336]:
accident_p2013_abstract_no_dupe.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45598 entries, 0 to 49771
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary_nr      45598 non-null  object
 1   report_id       45598 non-null  object
 2   event_date      45598 non-null  datetime64[ns]
 3   event_desc      45598 non-null  object
 4   event_keyword   45478 non-null  object
 5   const_end_use   8797 non-null   object
 6   build_stories   6274 non-null   float64
 7   nonbuild_ht     4725 non-null   float64
 8   project_cost    2270 non-null   object
 9   project_type    9198 non-null   object
 10  sic_list        2697 non-null   object
 11  fatality        18595 non-null  object
 12  state_flag      0 non-null      float64
 13  load_dt         45598 non-null  datetime64[ns]
 14  rel_insp_nr     45597 non-null  object
 15  age             45597 non-null  float64
 16  sex             2662 non-null   object
 17  nature_of_inj   3012 non-null   float64
 18  part_of_body    3011 non-null   float64
 19  src_of_injury   3011 non-null   float64
 20  event_type      45527 non-null  float64
 21  evn_factor      3012 non-null   float64
 22  hum_factor      3012 non-null   float64
 23  occ_code        40017 non-null  float64
 24  degree_of_inj   45527 non-null  float64
 25  task_assigned   35108 non-null  float64
 26  hazsub          129 non-null    object
 27  const_op        2837 non-null   float64
 28  const_op_cause  11052 non-null  float64
 29  fat_cause       2808 non-null   float64
 30  fall_distance   3035 non-null   float64
 31  fall_ht         3184 non-null   float64
 32  injury_line_nr  45597 non-null  float64
 33  abstract_text   45596 non-null  object
dtypes: datetime64[ns](2), float64(19), object(13)
memory usage: 12.2+ MB

check `rel_insp_nr` dupe

In [338]:
accident_p2013_abstract_no_dupe[accident_p2013_abstract_no_dupe['rel_insp_nr'].duplicated()]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
7520,220853428,0420600,2015-11-19 00:00:00,EMPLOYEE INSTALLING FENCE ...,"CONSTRUCTION,CONSTRUCTION ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:43,341105252,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,869.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:00 p.m. on November ...
20035,221046329,0950624,2017-01-27 00:00:00,EMPLOYEE AMPUTATES FINGER ...,"AMPUTATED,AMPUTATION,CAUGH...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342109998,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,844.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:00 a.m. on January 27...
20143,221047426,0950635,2017-02-23 00:00:00,EMPLOYEE REACHES ACROSS TA...,"AMPUTATED,AMPUTATION,BLADE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342145992,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 6:45 a.m. on February 2...
23650,221084726,0950624,2017-05-09 00:00:00,"FORKLIFT BRAKES FAIL, INJU...","BRAKE,CRUSHED,EQUIPMENT FA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342327327,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:45 a.m. on May 9, 20..."
24175,221089832,0521400,2018-08-09 00:00:00,EMPLOYEE IS STRUCK IN THE ...,"EMBOLISM,KNEE,STRUCK AGAIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343447165,0.0,NaN,3.0,15.0,18.0,6.0,8.0,14.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 2:00 p.m. on August 9, ..."
24187,221089923,0950641,2017-02-08 00:00:00,EMPLOYEE RECEIVES ELECTRIC...,"ELECTRICAL,ELECTRICAL WORK...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342104395,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,575.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:45 p.m. on February ...
24512,221093180,0950644,2017-06-24 00:00:00,EMPLOYEE'S HAND IS CRUSHED...,"CRUSHED,HAND,JACK,PALLET,T...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342486222,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,889.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:30 a.m. on June 24, 2..."
25733,221105810,0627700,2017-10-16 00:00:00,EMPLOYEE BECOMES CAUGHT IN...,"CAUGHT IN,CHAIN,LACERATION...",NaN,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,342709037,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:09 a.m. on October 1...
29041,221141807,0418200,2018-09-10 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"BACKING UP,DUMP TRUCK,LOST...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343465555,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,805.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:30 p.m. on September...
29209,221143720,0950641,2018-08-11 08:08:00,EMPLOYEE FALLS WHILE CLIMB...,"FALL,HEART ATTACK",A,2.0,25.0,NaN,A,NaN,X,NaN,2019-05-30 00:19:20,343377172,0.0,NaN,21.0,NaN,NaN,12.0,13.0,1.0,889.0,1.0,2.0,NaN,42.0,NaN,16.0,NaN,NaN,1.0,"At 8:41 a.m. on August 8, ..."
29726,221149495,0551702,2019-03-05 00:00:00,"ONE EMPLOYEE IS KILLED, TH...","BUILDING,BUILDING COLLAPSE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343863072,0.0,NaN,6.0,20.0,8.0,1.0,6.0,14.0,417.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:30 p.m. on March 5, 2..."
30438,221157282,0625700,2017-10-15 00:00:00,THREE EMPLOYEE ARE INJURED...,"BURN,EXPLOSION,EYE,FRACTUR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342754132,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,873.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:19 p.m. on October 15...
30965,221162571,0418100,2018-06-11 00:00:00,EMPLOYEE FALLS 14 FEET FRO...,"FALL,HEAD,WIRE LINE",C,1.0,NaN,NaN,E,NaN,X,NaN,2023-07-03 00:18:44,343233821,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,865.0,1.0,2.0,NaN,NaN,29.0,NaN,7.0,7.0,1.0,"At 12:15 p.m. on June 11, ..."
32849,221183379,0418800,2016-11-11 00:00:00,EMPLOYEE DROWNS WHEN TRACT...,DROWN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,341936813,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 1:13 p.m. on November 1...
33268,221188220,0950613,2017-05-18 00:00:00,TWO EMPLOYEE SUSTAIN BURNS...,"BURN,EXPLOSION,IGNITION SY...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342344777,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,436.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 3:55 p.m. on May 18, 20..."
34571,221203383,0420600,2018-03-08 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"FALLING OBJECT,REBAR,STORA...",I,0.0,0.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,343003489,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,9.0,NaN,NaN,NaN,1.0,"At 10:30 a.m. on March 8, ..."
35081,221210347,0418200,2019-05-03 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BEAM,FALLING OBJECT,POWERE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343983367,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,783.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 11:00 a.m. on May 3, 20..."
36029,221229826,0420600,2018-02-14 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"CONDUIT,FRACTURE,PIPE PLUG...",M,0.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:45,342962701,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,26.0,NaN,NaN,NaN,1.0,At 3:30 p.m. on February 1...
36908,221248271,0950625,2019-07-16 00:00:00,EMPLOYEE IS STRUCK BY AND ...,"CONTAINER,ELECTRICAL CABIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,344167028,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,889.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:59 p.m. on July 16, 2..."
37015,221251630,0830500,2019-08-29 00:00:00,EMPLOYEE IS KILLED BY ELEC...,"ELECTROCUTED,HOSE,OVERHEAD...",O,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,344275045,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,70.0,NaN,NaN,NaN,1.0,"At 4:15 p.m. on August 29,..."
37844,221266992,0729700,2018-09-15 00:00:00,EMPLOYEE STRUCK IN LEG BY ...,"BLOOD CLOT,CONSTRUCTION,LA...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,343487021,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7038.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:40 a.m. on September...
39764,221298268,0418300,2018-05-02 00:00:00,EMPLOYEE IS KILLED IN FALL...,"AERIAL LIFT,BLUNT FORCE TR...",C,4.0,40.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,343139093,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,579.0,1.0,2.0,NaN,NaN,50.0,NaN,33.0,33.0,1.0,"At 2:30 p.m. on May 2, 201..."
41748,221335573,0355114,2019-12-30 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"FALLING OBJECT,FLATBED TRU...",C,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,344533641,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,50.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on December 3...
41859,221338239,0111700,2020-07-21 00:00:00,EMPLOYEE FALLS FROM SCAFFO...,"FALL,FALL PROTECTION,HAND ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,344844782,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 21, ..."
41937,221340532,0627700,2020-04-27 00:00:00,EMPLOYEE CONSTRUCTING NEW ...,"CONSTRUCTION,ELEVATOR,FALL...",C,2.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:42,344738075,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,32.0,32.0,1.0,"At 2:00 p.m. on April 27, ..."
43162,221373558,0950641,2020-12-16 00:00:00,APPRENTICE IS KILLED WHEN ...,"BLUNT FORCE TRAUMA,BOOM SU...",C,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345068050,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7051.0,1.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,1.0,At 6:33 a.m. on December 1...
45752,221423627,0950643,2021-02-26 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,345171680,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,514.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:56 a.m. on February ...
46805,221437098,0950643,2020-11-13 00:00:00,EMPLOYEE IS KILLED AFTER B...,UNCONSCIOUSNESS,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345035422,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 02:00 p.m. on November ...
47139,221441314,0627700,2021-06-20 00:00:00,EMPLOYEE IS KILLED WHILE C...,"CLEANING,GRAIN,HEADHOUSE,H...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345387120,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 07:15 p.m. on June 20, ..."
47606,221450497,0830600,2021-06-07 00:00:00,EMPLOYEE FALLS FROM LADDER...,"FALL,FALL FROM ELEVATION,L...",H,NaN,32.0,NaN,C,NaN,X,NaN,2023-07-03 00:18:42,345346993,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,595.0,1.0,NaN,NaN,NaN,43.0,NaN,32.0,32.0,1.0,"At 8:00 a.m. on June 7, 20..."
49707,221539059,0729300,2022-06-21 00:00:00,EMPLOYEE DIES DUE TO CARDI...,"CARDIAC ARREST,HEART ATTACK",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346035306,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 12:45 p.m. on June 21, ..."
49712,221539836,0355111,2021-09-08 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",B,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345518732,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,43.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on September ...
49714,221541220,0625400,2022-06-28 00:00:00,TWO EMPLOYEES ARE KILLED D...,"COLLAPSE,LADDER,TRENCH,TRE...",B,NaN,23.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,346045131,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7010.0,1.0,NaN,NaN,NaN,11.0,NaN,NaN,NaN,1.0,"At 9:30 a.m. on June 28, 2..."
49718,221542038,0854910,2021-07-22 00:00:00,EMPLOYEE IS KILLED WHEN RU...,"BACKING UP,CRUSHED,CRUSHIN...",C,1.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345439186,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 22, ..."
49719,221542343,0316700,2022-06-07 00:00:00,EMPLOYEE DIES OF CARDIAC A...,"CARDIAC ARREST,HEART ATTACK",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346143399,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,888.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 5:30 p.m. on June 7, 20..."
49743,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on March 10, ..."
49756,316347848,950644,2013-09-25 03:44:00,Employee Is Killed When St...,"WAREHOUSE,TRUCK,STRUCK BY,...",NaN,NaN,NaN,NaN,NaN,7381,X,NaN,2019-07-22 00:18:31,316347848,62.0,F,21.0,4.0,30.0,1.0,4.0,20.0,999.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 3:44 a.m....

In [339]:
dupe_cases_insp = accident_p2013_abstract_no_dupe[accident_p2013_abstract_no_dupe['rel_insp_nr'].duplicated()].copy()
dupe_cases_insp

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
7520,220853428,0420600,2015-11-19 00:00:00,EMPLOYEE INSTALLING FENCE ...,"CONSTRUCTION,CONSTRUCTION ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:43,341105252,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,869.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:00 p.m. on November ...
20035,221046329,0950624,2017-01-27 00:00:00,EMPLOYEE AMPUTATES FINGER ...,"AMPUTATED,AMPUTATION,CAUGH...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342109998,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,844.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:00 a.m. on January 27...
20143,221047426,0950635,2017-02-23 00:00:00,EMPLOYEE REACHES ACROSS TA...,"AMPUTATED,AMPUTATION,BLADE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342145992,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 6:45 a.m. on February 2...
23650,221084726,0950624,2017-05-09 00:00:00,"FORKLIFT BRAKES FAIL, INJU...","BRAKE,CRUSHED,EQUIPMENT FA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342327327,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:45 a.m. on May 9, 20..."
24175,221089832,0521400,2018-08-09 00:00:00,EMPLOYEE IS STRUCK IN THE ...,"EMBOLISM,KNEE,STRUCK AGAIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343447165,0.0,NaN,3.0,15.0,18.0,6.0,8.0,14.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 2:00 p.m. on August 9, ..."
24187,221089923,0950641,2017-02-08 00:00:00,EMPLOYEE RECEIVES ELECTRIC...,"ELECTRICAL,ELECTRICAL WORK...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342104395,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,575.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:45 p.m. on February ...
24512,221093180,0950644,2017-06-24 00:00:00,EMPLOYEE'S HAND IS CRUSHED...,"CRUSHED,HAND,JACK,PALLET,T...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342486222,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,889.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:30 a.m. on June 24, 2..."
25733,221105810,0627700,2017-10-16 00:00:00,EMPLOYEE BECOMES CAUGHT IN...,"CAUGHT IN,CHAIN,LACERATION...",NaN,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,342709037,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:09 a.m. on October 1...
29041,221141807,0418200,2018-09-10 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"BACKING UP,DUMP TRUCK,LOST...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343465555,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,805.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:30 p.m. on September...
29209,221143720,0950641,2018-08-11 08:08:00,EMPLOYEE FALLS WHILE CLIMB...,"FALL,HEART ATTACK",A,2.0,25.0,NaN,A,NaN,X,NaN,2019-05-30 00:19:20,343377172,0.0,NaN,21.0,NaN,NaN,12.0,13.0,1.0,889.0,1.0,2.0,NaN,42.0,NaN,16.0,NaN,NaN,1.0,"At 8:41 a.m. on August 8, ..."
29726,221149495,0551702,2019-03-05 00:00:00,"ONE EMPLOYEE IS KILLED, TH...","BUILDING,BUILDING COLLAPSE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343863072,0.0,NaN,6.0,20.0,8.0,1.0,6.0,14.0,417.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:30 p.m. on March 5, 2..."
30438,221157282,0625700,2017-10-15 00:00:00,THREE EMPLOYEE ARE INJURED...,"BURN,EXPLOSION,EYE,FRACTUR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342754132,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,873.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:19 p.m. on October 15...
30965,221162571,0418100,2018-06-11 00:00:00,EMPLOYEE FALLS 14 FEET FRO...,"FALL,HEAD,WIRE LINE",C,1.0,NaN,NaN,E,NaN,X,NaN,2023-07-03 00:18:44,343233821,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,865.0,1.0,2.0,NaN,NaN,29.0,NaN,7.0,7.0,1.0,"At 12:15 p.m. on June 11, ..."
32849,221183379,0418800,2016-11-11 00:00:00,EMPLOYEE DROWNS WHEN TRACT...,DROWN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,341936813,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 1:13 p.m. on November 1...
33268,221188220,0950613,2017-05-18 00:00:00,TWO EMPLOYEE SUSTAIN BURNS...,"BURN,EXPLOSION,IGNITION SY...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342344777,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,436.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 3:55 p.m. on May 18, 20..."
34571,221203383,0420600,2018-03-08 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"FALLING OBJECT,REBAR,STORA...",I,0.0,0.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,343003489,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,9.0,NaN,NaN,NaN,1.0,"At 10:30 a.m. on March 8, ..."
35081,221210347,0418200,2019-05-03 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BEAM,FALLING OBJECT,POWERE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343983367,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,783.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 11:00 a.m. on May 3, 20..."
36029,221229826,0420600,2018-02-14 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"CONDUIT,FRACTURE,PIPE PLUG...",M,0.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:45,342962701,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,26.0,NaN,NaN,NaN,1.0,At 3:30 p.m. on February 1...
36908,221248271,0950625,2019-07-16 00:00:00,EMPLOYEE IS STRUCK BY AND ...,"CONTAINER,ELECTRICAL CABIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,344167028,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,889.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:59 p.m. on July 16, 2..."
37015,221251630,0830500,2019-08-29 00:00:00,EMPLOYEE IS KILLED BY ELEC...,"ELECTROCUTED,HOSE,OVERHEAD...",O,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,344275045,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,70.0,NaN,NaN,NaN,1.0,"At 4:15 p.m. on August 29,..."
37844,221266992,0729700,2018-09-15 00:00:00,EMPLOYEE STRUCK IN LEG BY ...,"BLOOD CLOT,CONSTRUCTION,LA...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,343487021,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7038.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:40 a.m. on September...
39764,221298268,0418300,2018-05-02 00:00:00,EMPLOYEE IS KILLED IN FALL...,"AERIAL LIFT,BLUNT FORCE TR...",C,4.0,40.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,343139093,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,579.0,1.0,2.0,NaN,NaN,50.0,NaN,33.0,33.0,1.0,"At 2:30 p.m. on May 2, 201..."
41748,221335573,0355114,2019-12-30 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"FALLING OBJECT,FLATBED TRU...",C,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,344533641,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,50.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on December 3...
41859,221338239,0111700,2020-07-21 00:00:00,EMPLOYEE FALLS FROM SCAFFO...,"FALL,FALL PROTECTION,HAND ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,344844782,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 21, ..."
41937,221340532,0627700,2020-04-27 00:00:00,EMPLOYEE CONSTRUCTING NEW ...,"CONSTRUCTION,ELEVATOR,FALL...",C,2.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:42,344738075,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,32.0,32.0,1.0,"At 2:00 p.m. on April 27, ..."
43162,221373558,0950641,2020-12-16 00:00:00,APPRENTICE IS KILLED WHEN ...,"BLUNT FORCE TRAUMA,BOOM SU...",C,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345068050,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7051.0,1.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,1.0,At 6:33 a.m. on December 1...
45752,221423627,0950643,2021-02-26 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,345171680,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,514.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:56 a.m. on February ...
46805,221437098,0950643,2020-11-13 00:00:00,EMPLOYEE IS KILLED AFTER B...,UNCONSCIOUSNESS,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345035422,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 02:00 p.m. on November ...
47139,221441314,0627700,2021-06-20 00:00:00,EMPLOYEE IS KILLED WHILE C...,"CLEANING,GRAIN,HEADHOUSE,H...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345387120,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 07:15 p.m. on June 20, ..."
47606,221450497,0830600,2021-06-07 00:00:00,EMPLOYEE FALLS FROM LADDER...,"FALL,FALL FROM ELEVATION,L...",H,NaN,32.0,NaN,C,NaN,X,NaN,2023-07-03 00:18:42,345346993,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,595.0,1.0,NaN,NaN,NaN,43.0,NaN,32.0,32.0,1.0,"At 8:00 a.m. on June 7, 20..."
49707,221539059,0729300,2022-06-21 00:00:00,EMPLOYEE DIES DUE TO CARDI...,"CARDIAC ARREST,HEART ATTACK",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346035306,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 12:45 p.m. on June 21, ..."
49712,221539836,0355111,2021-09-08 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",B,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345518732,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,43.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on September ...
49714,221541220,0625400,2022-06-28 00:00:00,TWO EMPLOYEES ARE KILLED D...,"COLLAPSE,LADDER,TRENCH,TRE...",B,NaN,23.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,346045131,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7010.0,1.0,NaN,NaN,NaN,11.0,NaN,NaN,NaN,1.0,"At 9:30 a.m. on June 28, 2..."
49718,221542038,0854910,2021-07-22 00:00:00,EMPLOYEE IS KILLED WHEN RU...,"BACKING UP,CRUSHED,CRUSHIN...",C,1.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345439186,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 22, ..."
49719,221542343,0316700,2022-06-07 00:00:00,EMPLOYEE DIES OF CARDIAC A...,"CARDIAC ARREST,HEART ATTACK",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346143399,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,888.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 5:30 p.m. on June 7, 20..."
49743,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on March 10, ..."
49756,316347848,950644,2013-09-25 03:44:00,Employee Is Killed When St...,"WAREHOUSE,TRUCK,STRUCK BY,...",NaN,NaN,NaN,NaN,NaN,7381,X,NaN,2019-07-22 00:18:31,316347848,62.0,F,21.0,4.0,30.0,1.0,4.0,20.0,999.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 3:44 a.m....

In [340]:
dupe_cases_insp_ids = dupe_cases_insp['rel_insp_nr'].unique()

In [341]:
dupe_cases_insp_ids

array(['341105252', '342109998', '342145992', '342327327', '343447165',
       '342104395', '342486222', '342709037', '343465555', '343377172',
       '343863072', '342754132', '343233821', '341936813', '342344777',
       '343003489', '343983367', '342962701', '344167028', '344275045',
       '343487021', '343139093', '344533641', '344844782', '344738075',
       '345068050', '345171680', '345035422', '345387120', '345346993',
       '346035306', '345518732', '346045131', '345439186', '346143399',
       '345831218', '316347848'], dtype=object)

In [345]:
accident_p2013_abstract_no_dupe[accident_p2013_abstract_no_dupe['rel_insp_nr'].isin(dupe_cases_insp_ids)].sort_values(by='rel_insp_nr')

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
1276,202479309,950644,2013-09-25 03:44:00,Employee Is Killed When St...,"WAREHOUSE,TRUCK,STRUCK BY,...",NaN,NaN,NaN,NaN,NaN,7381,X,NaN,2019-07-22 00:18:31,316347848,62.0,F,21.0,4.0,30.0,1.0,4.0,20.0,999.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 3:44 a.m....
49756,316347848,950644,2013-09-25 03:44:00,Employee Is Killed When St...,"WAREHOUSE,TRUCK,STRUCK BY,...",NaN,NaN,NaN,NaN,NaN,7381,X,NaN,2019-07-22 00:18:31,316347848,62.0,F,21.0,4.0,30.0,1.0,4.0,20.0,999.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 3:44 a.m....
7520,220853428,0420600,2015-11-19 00:00:00,EMPLOYEE INSTALLING FENCE ...,"CONSTRUCTION,CONSTRUCTION ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:43,341105252,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,869.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:00 p.m. on November ...
6852,220820062,0420600,2015-11-19 00:00:00,EMPLOYEE WAS RUN OVER BY D...,"CONSTRUCTION VEHICLE,CRUSH...",A,0.0,0.0,E,E,NaN,X,NaN,2023-07-03 00:18:43,341105252,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,869.0,1.0,1.0,NaN,NaN,45.0,NaN,NaN,NaN,1.0,At 12:00 p.m. on November ...
8617,220909097,0418800,2016-11-11 01:11:00,EMPLOYEE DROWNS WHEN TRACT...,"TRACTOR,ROLL-OVER,DROWNING",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2019-03-08 00:18:54,341936813,0.0,NaN,21.0,31.0,41.0,14.0,18.0,14.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 1:13 p.m. on November 1...
32849,221183379,0418800,2016-11-11 00:00:00,EMPLOYEE DROWNS WHEN TRACT...,DROWN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,341936813,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 1:13 p.m. on November 1...
9650,220932370,0950641,2017-02-08 11:02:00,EMPLOYEE MAKES CONTACT WIT...,"STRUCK AGAINST,ELECTRIC AR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-09 00:06:00,342104395,0.0,NaN,10.0,9.0,15.0,13.0,18.0,1.0,575.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:45 p.m. on February ...
24187,221089923,0950641,2017-02-08 00:00:00,EMPLOYEE RECEIVES ELECTRIC...,"ELECTRICAL,ELECTRICAL WORK...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342104395,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,575.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:45 p.m. on February ...
13481,220977615,0950624,2017-01-27 07:01:00,EMPLOYEE INJURES HAND DURI...,"STRUCK BY,CRUSHED,LOCKOUT/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-17 00:30:19,342109998,0.0,NaN,7.0,12.0,43.0,2.0,18.0,11.0,637.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:00 a.m. on January 27...
20035,221046329,0950624,2017-01-27 00:00:00,EMPLOYEE AMPUTATES FINGER ...,"AMPUTATED,AMPUTATION,CAUGH...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342109998,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,844.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:00 a.m. on January 27...
13778,220980742,0950635,2017-02-23 06:02:00,EMPLOYEE'S FINGER IS AMPUT...,"POINT OF OPERATION,TABLE S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-17 00:30:19,342145992,0.0,NaN,1.0,10.0,26.0,2.0,8.0,9.0,779.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At approximately 6:45 a.m....
20143,221047426,0950635,2017-02-23 00:00:00,EMPLOYEE REACHES ACROSS TA...,"AMPUTATED,AMPUTATION,BLADE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342145992,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 6:45 a.m. on February 2...
11491,220955751,0950624,2017-05-09 10:05:00,EMPLOYEE INJURES LEG WHEN ...,"BRAKE,CRUSHED,EQUIPMENT FA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-17 00:05:55,342327327,0.0,NaN,21.0,18.0,30.0,2.0,8.0,10.0,856.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:45 a.m. on May 9, 20..."
23650,221084726,0950624,2017-05-09 00:00:00,"FORKLIFT BRAKES FAIL, INJU...","BRAKE,CRUSHED,EQUIPMENT FA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342327327,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:45 a.m. on May 9, 20..."
33268,221188220,0950613,2017-05-18 00:00:00,TWO EMPLOYEE SUSTAIN BURNS...,"BURN,EXPLOSION,IGNITION SY...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342344777,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,436.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 3:55 p.m. on May 18, 20..."
20187,221047889,0950613,2017-05-18 03:05:00,TWO EMPLOYEES SUSTAIN SECO...,"PROPANE,FOOD PREPARATION,BURN",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-14 00:19:22,342344777,0.0,NaN,5.0,9.0,16.0,14.0,8.0,1.0,37.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:00 p.m. on May 18, 20..."
24512,221093180,0950644,2017-06-24 00:00:00,EMPLOYEE'S HAND IS CRUSHED...,"CRUSHED,HAND,JACK,PALLET,T...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342486222,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,889.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:30 a.m. on June 24, 2..."
17607,221020431,0950644,2017-06-24 06:06:00,EMPLOYEE IS EMPTYING TRAIL...,"PALLETIZED CARGO,TRAILER,H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-01 00:05:49,342486222,0.0,NaN,7.0,21.0,27.0,2.0,8.0,1.0,889.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:30 a.m. on June 24, 2..."
15506,220999205,0627700,2017-10-16 10:10:00,EMPLOYEE IS CAUGHT-BY ROTA...,"CAUGHT IN,ROTATING PARTS",NaN,NaN,NaN,NaN,A,NaN,X,NaN,2018-12-24 16:01:00,342709037,0.0,NaN,7.0,13.0,26.0,2.0,8.0,1.0,NaN,1.0,2.0,NaN,16.0,NaN,NaN,NaN,NaN,1.0,At 10:09 a.m. on October 1...
25733,221105810,0627700,2017-10-16 00:00:00,EMPLOYEE BECOMES CAUGHT IN...,"CAUGHT IN,CHAIN,LACERATION...",NaN,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,342709037,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:09 a.m. on October 1...
16302,221007610,0625700,2017-10-15 07:10:00,ONE EMPLOYEE IS KILLED AND...,"ACCIDENTAL DISCHARGE,OIL W...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2018-12-24 16:01:00,342754132,0.0,NaN,5.0,19.0,43.0,14.0,18.0,14.0,867.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:19 p.m. on October 15...
30438,221157282,0625700,2017-10-15 00:00:00,THREE EMPLOYEE ARE INJURED...,"BURN,EXPLOSION,EYE,FRACTUR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:44,342754132,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,873.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 7:19 p.m. on October 15...
18713,221032683,0420600,2018-02-14 04:02:00,EMPLOYEE IS STRUCK BY PRES...,"STRUCK BY,PRESSURE PIPING",M,0.0,NaN,NaN,B,NaN,X,NaN,2019-04-27 03:02:52,342962701,0.0,NaN,3.0,20.0,8.0,6.0,15.0,14.0,7038.0,1.0,2.0,NaN,26.0,NaN,26.0,NaN,NaN,1.0,At 4:45 p.m. on February 1...
36029,221229826,0420600,2018-02-14 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"CONDUIT,FRACTURE,PIPE PLUG...",M,0.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:45,342962701,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,26.0,NaN,NaN,NaN,1.0,At 3:30 p.m. on February 1...
34571,221203383,0420600,2018-03-08 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"FALLING OBJECT,REBAR,STORA...",I,0.0,0.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,343003489,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,599.0,1.0,2.0,NaN,NaN,9.0,NaN,NaN,NaN,1.0,"At 10:30 a.m. on March 8, ..."
19129,221037047,0420600,2018-03-08 10:03:00,EMPLOYEE IS KILLED WHEN CR...,"REBAR,STRUCK BY,CRUSHED",I,NaN,NaN,NaN,A,NaN,X,NaN,2019-04-27 03:02:52,343003489,0.0,NaN,21.0,5.0,28.0,2.0,13.0,1.0,599.0,1.0,2.0,NaN,18.0,NaN,3.0,NaN,NaN,1.0,"At 10:30 a.m. on March 8, ..."
39764,221298268,0418300,2018-05-02 00:00:00,EMPLOYEE IS KILLED IN FALL...,"AERIAL LIFT,BLUNT FORCE TR...",C,4.0,40.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,343139093,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,579.0,1.0,2.0,NaN,NaN,50.0,NaN,33.0,33.0,1.0,"At 2:30 p.m. on May 2, 201..."
20662,221052988,0418300,2018-05-02 02:05:00,EMPLOYEE FALLS FROM LIFT A...,"STRUCK BY,FALL,POWERED IND...",C,4.0,40.0,NaN,A,NaN,X,NaN,2019-02-20 15:33:50,343139093,0.0,NaN,3.0,19.0,12.0,5.0,8.0,20.0,579.0,1.0,2.0,NaN,50.0,NaN,21.0,NaN,NaN,1.0,"At 2:30 p.m. on May 2, 201..."
30965,221162571,0418100,2018-06-11 00:00:00,EMPLOYEE FALLS 14 FEET FRO...,"FALL,HEAD,WIRE LINE",C,1.0,NaN,NaN,E,NaN,X,NaN,2023-07-03 00:18:44,343233821,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,865.0,1.0,2.0,NaN,NaN,29.0,NaN,7.0,7.0,1.0,"At 12:15 p.m. on June 11, ..."
21859,221065709,0418100,2018-06-11 12:06:00,EMPLOYEE FALLS 14 FEET WHI...,"STRUCK AGAINST,HEAD,FALL P...",C,1.0,NaN,NaN,A,NaN,X,NaN,2019-02-27 00:18:45,343233821,0.0,NaN,6.0,13.0,8.0,5.0,18.0,14.0,869.0,1.0,2.0,NaN,29.0,NaN,18.0,NaN,NaN,1.0,"At 12:15 p.m. on June 11, ..."
23514,221083181,0950641,2018-08-11 08:08:00,EMPLOYEE FALLS FROM VERTIC...,"CARDIOVASC DISEASE,LACERAT...",A,2.0,25.0,NaN,A,NaN,X,NaN,2019-03-13 00:18:46,343377172,0.0,NaN,21.0,13.0,5.0,12.0,18.0,14.0,869.0,1.0,2.0,NaN,42.0,NaN,16.0,NaN,NaN,1.0,"At 8:41 a.m. on August 11,..."
29209,221143720,0950641,2018-08-11 08:08:00,EMPLOYEE FALLS WHILE CLIMB...,"FALL,HEART ATTACK",A,2.0,25.0,NaN,A,NaN,X,NaN,2019-05-30 00:19:20,343377172,0.0,NaN,21.0,NaN,NaN,12.0,13.0,1.0,889.0,1.0,2.0,NaN,42.0,NaN,16.0,NaN,NaN,1.0,"At 8:41 a.m. on August 8, ..."
24175,221089832,0521400,2018-08-09 00:00:00,EMPLOYEE IS STRUCK IN THE ...,"EMBOLISM,KNEE,STRUCK AGAIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343447165,0.0,NaN,3.0,15.0,18.0,6.0,8.0,14.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 2:00 p.m. on August 9, ..."
24130,221089360,0521400,2018-08-09 02:08:00,EMPLOYEE DIES AT WORK FROM...,EMBOLISM,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2019-04-11 00:18:51,343447165,0.0,NaN,3.0,15.0,18.0,6.0,18.0,1.0,785.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 2:00 p.m. on August 9, ..."
29041,221141807,0418200,2018-09-10 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"BACKING UP,DUMP TRUCK,LOST...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343465555,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,805.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:30 p.m. on September...
24358,221091705,0418200,2018-09-10 00:00:00,EMPLOYEE IS STRUCK AND KIL...,"DUMP TRUCK,SLOPE,STRUCK BY",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343465555,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,806.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:30 p.m. on September...
24632,221094394,0729700,2018-09-15 10:09:00,EMPLOYEE SUFFERS BLOOD CLO...,"PUNCTURE,BLOOD CLOT,LAWN M...",M,NaN,NaN,NaN,A,NaN,X,NaN,2020-06-10 00:18:33,343487021,0.0,NaN,21.0,16.0,22.0,1.0,5.0,14.0,7038.0,1.0,2.0,NaN,45.0,NaN,26.0,NaN,NaN,1.0,At 10:40 a.m. on September...
37844,221266992,0729700,2018-09-15 00:00:00,EMPLOYEE STRUCK IN LEG BY ...,"BLOOD CLOT,CONSTRUCTION,LA...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,343487021,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7038.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:40 a.m. on September...
29726,221149495,0551702,2019-03-05 00:00:00,"ONE EMPLOYEE IS KILLED, TH...","BUILDING,BUILDING COLLAPSE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343863072,0.0,NaN,6.0,20.0,8.0,1.0,6.0,14.0,417.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:30 p.m. on March 5, 2..."
29417,221146087,0551702,2019-03-05 04:03:00,FIRE FIGHTER IS KILLED IN ...,"STRUCK BY,FIRE,ROOF,FIRE F...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2021-02-28 00:18:47,343863072,0.0,NaN,21.0,20.0,8.0,1.0,6.0,14.0,417.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:30 p.m. on March 5, 2..."
30675,221159551,0418200,2019-05-03 11:05:00,EMPLOYEE IS KILLED WHEN ST...,"STRUCK BY,POWERED INDUSTRI...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2019-10-20 00:18:43,343983367,0.0,NaN,6.0,13.0,27.0,1.0,8.0,14.0,783.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 11:00 a.m. on May 3, 20..."
35081,221210347,0418200,2019-05-03 00:00:00,"ONE EMPLOYEE IS KILLED, ON...","BEAM,FALLING OBJECT,POWERE...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:44,343983367,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,783.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 11:00 a.m. on May 3, 20..."
35200,221211741,0950625,2019-07-16 06:07:00,EMPLOYEE IS KILLED WHEN ST...,"STRUCK BY,NECK,POWERED IND...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2020-02-27 00:19:38,344167028,0.0,NaN,12.0,20.0,43.0,1.0,8.0,18.0,889.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:59 p.m. on July 16, 2..."
36908,221248271,0950625,2019-07-16 00:00:00,EMPLOYEE IS STRUCK BY AND ...,"CONTAINER,ELECTRICAL CABIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,344167028,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,889.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 6:59 p.m. on July 16, 2..."
33832,221194483,0830500,2019-08-29 04:08:00,EMPLOYEE IS ELECTROCUTED W...,"STRUCK AGAINST,BOOM TRUCK,...",O,NaN,NaN,NaN,A,NaN,X,NaN,2020-04-05 00:18:51,344275045,0.0,NaN,10.0,4.0,15.0,13.0,18.0,1.0,869.0,1.0,2.0,NaN,70.0,NaN,10.0,NaN,NaN,1.0,"At 4:15 p.m. on August 29,..."
37015,221251630,0830500,2019-08-29 00:00:00,EMPLOYEE IS KILLED BY ELEC...,"ELECTROCUTED,HOSE,OVERHEAD...",O,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:44,344275045,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,70.0,NaN,NaN,NaN,1.0,"At 4:15 p.m. on August 29,..."
35973,221228604,0355114,2019-12-30 07:12:00,EMPLOYEE IS KILLED WHEN CR...,"PINNED,MATERIAL HANDLING,H...",C,0.0,0.0,NaN,A,NaN,X,NaN,2021-02-28 00:18:47,344533641,0.0,NaN,21.0,19.0,28.0,2.0,8.0,10.0,NaN,1.0,2.0,NaN,50.0,NaN,26.0,NaN,NaN,1.0,At 7:30 a.m. on December 3...
41748,221335573,0355114,2019-12-30 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"FALLING OBJECT,FLATBED TRU...",C,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,344533641,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,50.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on December 3...
37347,221257983,0627700,2020-04-27 04:04:00,EMPLOYEE CLIMBING LADDER I...,"UNSECURED,CLIMBING ON LADD...",H,2.0,32.0,NaN,B,NaN,X,NaN,2021-03-17 00:18:50,344738075,0.0,NaN,12.0,13.0,8.0,5.0,13.0,6.0,543.0,1.0,2.0,NaN,7.0,NaN,14.0,NaN,NaN,1.0,"At 4:00 p.m. on April 27, ..."
41937,221340532,0627700,2020-04-27 00:00:00,EMPLOYEE CONSTRUCTING NEW ...,"CONSTRUCTION,ELEVATOR,FALL...",C,2.0,NaN,NaN,B,NaN,X,NaN,2023-07-03 00:18:42,344738075,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,32.0,32.0,1.0,"At 2:00 p.m. on April 27, ..."
38524,221279292,0111700,2020-07-21 10:07:00,EMPLOYEE FALLS FROM SCAFFO...,"PAINT,FALL PROTECTION,LADD...",B,2.0,30.0,NaN,C,NaN,X,NaN,2021-03-10 00:20:07,344844782,0.0,NaN,7.0,20.0,22.0,5.0,2.0,20.0,759.0,1.0,2.0,NaN,15.0,NaN,16.0,NaN,NaN,1.0,"At 10:15 a.m. on July 21, ..."
41859,221338239,0111700,2020-07-21 00:00:00,EMPLOYEE FALLS FROM SCAFFO...,"FALL,FALL PROTECTION,HAND ...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,344844782,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 21, ..."
46805,221437098,0950643,2020-11-13 00:00:00,EMPLOYEE IS KILLED AFTER B...,UNCONSCIOUSNESS,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345035422,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 02:00 p.m. on November ...
40819,221319635,0950643,2020-11-13 00:00:00,EMPLOYEE DIES AFTER FOUND ...,"MAINTENANCE,UNCONSCIOUSNESS",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2022-02-16 00:20:02,345035422,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,453.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 2:00 p.m.on November 13...
43162,221373558,0950641,2020-12-16 00:00:00,APPRENTICE IS KILLED WHEN ...,"BLUNT FORCE TRAUMA,BOOM SU...",C,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345068050,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7051.0,1.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,1.0,At 6:33 a.m. on December 1...
40672,221317597,0950641,2020-12-16 00:00:00,APPRENTICE IRON WORKER IS ...,"BOOM SUPPORT CABLE,CAUGHT ...",C,2.0,NaN,NaN,A,NaN,X,NaN,2021-07-23 03:18:35,345068050,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7051.0,1.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,1.0,At 6:33 a.m. on December 1...
45752,221423627,0950643,2021-02-26 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:45,345171680,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,514.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 11:56 a.m. on February ...
42609,221357965,0950643,2021-02-26 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE TRAUMA,FALL,GU...",C,NaN,NaN,NaN,C,NaN,X,NaN,2022-01-02 00:19:06,345171680,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,579.0,1.0,NaN,NaN,NaN,31.0,NaN,10.0,NaN,1.0,At 11:56 a.m. on February ...
47606,221450497,0830600,2021-06-07 00:00:00,EMPLOYEE FALLS FROM LADDER...,"FALL,FALL FROM ELEVATION,L...",H,NaN,32.0,NaN,C,NaN,X,NaN,2023-07-03 00:18:42,345346993,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,595.0,1.0,NaN,NaN,NaN,43.0,NaN,32.0,32.0,1.0,"At 8:00 a.m. on June 7, 20..."
44628,221406952,0830600,2021-06-07 00:00:00,EMPLOYEE FALLS AND IS KILLED,"FALL,FALL PROTECTION,LADDE...",H,3.0,NaN,NaN,C,NaN,X,NaN,2022-04-06 00:19:36,345346993,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,43.0,NaN,32.0,32.0,1.0,"At 8:00 a.m. on June 7, 20..."
47139,221441314,0627700,2021-06-20 00:00:00,EMPLOYEE IS KILLED WHILE C...,"CLEANING,GRAIN,HEADHOUSE,H...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,345387120,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,889.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 07:15 p.m. on June 20, ..."
42962,221366362,0627700,2021-06-20 00:00:00,EMPLOYEE DIES FROM POSSIBL...,"AGRICULTURE,FOOD PROCESSIN...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2022-03-03 00:18:57,345387120,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 7:15 p.m. on June 20, 2..."
43200,221374788,0854910,2021-07-22 00:00:00,EMPLOYEE IS STRUCK BY BACK...,"BACKING UP,CONSTRUCTION VE...",C,1.0,NaN,NaN,A,NaN,X,NaN,2023-03-03 00:19:17,345439186,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 22, ..."
49718,221542038,0854910,2021-07-22 00:00:00,EMPLOYEE IS KILLED WHEN RU...,"BACKING UP,CRUSHED,CRUSHIN...",C,1.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345439186,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,"At 10:00 a.m. on July 22, ..."
43826,221389232,0355111,2021-09-08 00:00:00,EMPLOYEE IS KILLED IN FALL...,"FALL,FALL PROTECTION,HAND ...",B,3.0,NaN,NaN,C,NaN,X,NaN,2023-02-25 03:06:38,345518732,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,595.0,1.0,NaN,NaN,NaN,43.0,NaN,30.0,30.0,1.0,At 7:00 a.m. on September ...
49712,221539836,0355111,2021-09-08 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",B,2.0,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345518732,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,43.0,NaN,NaN,NaN,1.0,At 8:00 a.m. on September ...
49743,221556806,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"CONTACT,ELECTRICAL BURN,EL...",B,NaN,NaN,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,869.0,2.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on March 10, ..."
48039,221461395,0355111,2022-03-10 00:00:00,TWO EMPLOYEES ARE ELECTROC...,"ELECTROCUTED,POWER LINES,P...",A,NaN,20.0,NaN,A,NaN,X,NaN,2023-04-24 00:19:08,345831218,0.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,865.0,2.0,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on March 10, ..."
48432,221472210,0729300,2022-06-21 00:00:00,EMPLOYEE DIES FROM HEART F...,"CARDIOVASC DISEASE,CONSTRU...",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-02-23 00:19:14,346035306,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,595.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 12:45 p.m. on June 21, ..."
49707,221539059,0729300,2022-06-21 00:00:00,EMPLOYEE DIES DUE TO CARDI...,"CARDIAC ARREST,HEART ATTACK",NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,2023-07-03 00:18:42,346035306,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 12:45 p.m. on June 21, ..."
48594,221477235,0625400,2022-06-28 00:00:00,TWO EMPLOYEES LEVELING PIP...,"ASPHYXIATED,COLLAPSE,CRUSH...",H,NaN,22.0,NaN,A,NaN,X,NaN,2023-02-23 00:19:14,346045131,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7010.0,1.0,NaN,NaN,NaN,52.0,NaN,NaN,NaN,1.0,"At 8:30 a.m. on June 28, 2..."
49714,221541220,0625400,2022-06-28 00:00:00,TWO EMPLOYEES ARE KILLED D...,"COLLAPSE,LADDER,TRENCH,TRE...",B,NaN,23.0,NaN,A,NaN,X,NaN,2023-07-03 00:18:42,346045131,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7010.0,1.0,NaN,NaN,NaN,11.0,NaN,NaN,NaN,1.0,"At 9:30 a.m. on June 28, 2..."

Some cases have the same `rel_insp_nr` but different `summary_nr`. For merging purposes I will drop those duplicates.

In [347]:
accident_p2013_abstract_no_dupe_insp = accident_p2013_abstract_no_dupe.drop_duplicates(subset=['rel_insp_nr'])
accident_p2013_abstract_no_dupe_insp

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,state_flag,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text
0,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,NaN,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....
1,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,NaN,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ..."
2,102101375,453730,2013-08-13 13:00:00,Employee Receives Burn aft...,"BURN,STRUCK AGAINST,ELEC C...",NaN,NaN,NaN,NaN,NaN,8711,NaN,NaN,2019-07-22 00:18:28,317261360,37.0,M,10.0,7.0,5.0,6.0,13.0,9.0,696.0,3.0,1.0,8870,0.0,0.0,0.0,NaN,NaN,1.0,"On August 13, 2013, Employ..."
3,102910494,950612,2014-03-05 15:30:00,Employee's Thigh Is Impale...,"ATTACHMENT HOOK,IMPALED,TH...",NaN,NaN,NaN,NaN,NaN,761,NaN,NaN,2019-07-22 00:18:28,317587053,25.0,M,18.0,23.0,22.0,1.0,18.0,14.0,889.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On March 5, 2014, Employee..."
4,170627483,950621,2013-02-18 14:15:00,Machine Operator Amputates...,"AIR PRESSURE,AMPUTATED,FIN...",NaN,NaN,NaN,NaN,NaN,5172,NaN,NaN,2019-07-22 00:18:29,316521202,25.0,M,1.0,10.0,26.0,2.0,3.0,1.0,715.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On February 18, 2013, Empl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49767,317142388,950631,2013-06-13 17:20:00,Employee Is Injured When S...,"INDUSTRIAL TRUCK,TRUCK,PAL...",NaN,NaN,NaN,NaN,NaN,4212,NaN,NaN,2019-07-22 00:18:31,317142305,69.0,M,21.0,1.0,7.0,1.0,13.0,1.0,804.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 13, 2013, Employee..."
49768,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl..."
49769,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ..."
49770,317248219,950621,2013-11-26 10:45:00,Employee Falls from Porch ...,"FRACTURE,SLIP,HANDRAIL,WAL...",NaN,NaN,NaN,NaN,NaN,8051,NaN,NaN,2019-07-22 00:18:31,317248219,49.0,M,12.0,16.0,42.0,5.0,8.0,10.0,999.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At about 10:45 a.m. on Nov...
49771,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,NaN,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ..."

45561 non-dupe rows

In [348]:
accident_p2013_abstract_no_dupe_insp[accident_p2013_abstract_no_dupe_insp['rel_insp_nr'].duplicated()]

Empty DataFrame
Columns: [summary_nr, report_id, event_date, event_desc, event_keyword, const_end_use, build_stories, nonbuild_ht, project_cost, project_type, sic_list, fatality, state_flag, load_dt, rel_insp_nr, age, sex, nature_of_inj, part_of_body, src_of_injury, event_type, evn_factor, hum_factor, occ_code, degree_of_inj, task_assigned, hazsub, const_op, const_op_cause, fat_cause, fall_distance, fall_ht, injury_line_nr, abstract_text]
Index: []

## merge inspection and accident

In [349]:
inspection_w_accident = pd.merge(
    accident_p2013_abstract_no_dupe_insp,
    inspection,
    left_on='rel_insp_nr',
    right_on='activity_nr',
    how='left',
    validate='1:1'
)

In [350]:
inspection_w_accident.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45561 entries, 0 to 45560
Data columns (total 70 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   summary_nr       45561 non-null  object
 1   report_id        45561 non-null  object
 2   event_date       45561 non-null  datetime64[ns]
 3   event_desc       45561 non-null  object
 4   event_keyword    45441 non-null  object
 5   const_end_use    8783 non-null   object
 6   build_stories    6265 non-null   float64
 7   nonbuild_ht      4720 non-null   float64
 8   project_cost     2270 non-null   object
 9   project_type     9183 non-null   object
 10  sic_list         2696 non-null   object
 11  fatality         18565 non-null  object
 12  state_flag_x     0 non-null      float64
 13  load_dt          45561 non-null  datetime64[ns]
 14  rel_insp_nr      45560 non-null  object
 15  age              45560 non-null  float64
 16  sex              2661 non-null   object
 17  nature_of_inj    3008 non-null   float64
 18  part_of_body     3008 non-null   float64
 19  src_of_injury    3008 non-null   float64
 20  event_type       45490 non-null  float64
 21  evn_factor       3008 non-null   float64
 22  hum_factor       3008 non-null   float64
 23  occ_code         39991 non-null  float64
 24  degree_of_inj    45490 non-null  float64
 25  task_assigned    35085 non-null  float64
 26  hazsub           129 non-null    object
 27  const_op         2835 non-null   float64
 28  const_op_cause   11039 non-null  float64
 29  fat_cause        2806 non-null   float64
 30  fall_distance    3031 non-null   float64
 31  fall_ht          3180 non-null   float64
 32  injury_line_nr   45560 non-null  float64
 33  abstract_text    45559 non-null  object
 34  activity_nr      45537 non-null  object
 35  reporting_id     45537 non-null  object
 36  state_flag_y     0 non-null      float64
 37  estab_name       45537 non-null  object
 38  site_address     45537 non-null  object
 39  site_city        45528 non-null  object
 40  site_state       45537 non-null  object
 41  site_zip         45535 non-null  object
 42  owner_type       45537 non-null  object
 43  owner_code       2874 non-null   object
 44  adv_notice       45537 non-null  object
 45  safety_hlth      45537 non-null  object
 46  sic_code         4747 non-null   object
 47  naics_code       45536 non-null  object
 48  insp_type        45537 non-null  object
 49  insp_scope       45537 non-null  object
 50  why_no_insp      42913 non-null  object
 51  union_status     45506 non-null  object
 52  safety_manuf     516 non-null    object
 53  safety_const     419 non-null    object
 54  safety_marit     8 non-null      object
 55  health_manuf     62 non-null     object
 56  health_const     6 non-null      object
 57  health_marit     0 non-null      object
 58  migrant          72 non-null     object
 59  mail_street      44845 non-null  object
 60  mail_city        44817 non-null  object
 61  mail_state       44817 non-null  object
 62  mail_zip         45497 non-null  object
 63  host_est_key     45537 non-null  object
 64  nr_in_estab      45494 non-null  float64
 65  open_date        45537 non-null  datetime64[ns]
 66  case_mod_date    45537 non-null  datetime64[ns]
 67  close_conf_date  45120 non-null  datetime64[ns]
 68  close_case_date  41918 non-null  object
 69  ld_dt            45537 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(21), object(43)
memory usage: 24.7+ MB

In [351]:
inspection_w_accident = inspection_w_accident.drop(columns=['state_flag_x', 'state_flag_y'])

In [369]:
inspection_w_accident.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45561 entries, 0 to 45560
Data columns (total 68 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   summary_nr       45561 non-null  object
 1   report_id        45561 non-null  object
 2   event_date       45561 non-null  datetime64[ns]
 3   event_desc       45561 non-null  object
 4   event_keyword    45441 non-null  object
 5   const_end_use    8783 non-null   object
 6   build_stories    6265 non-null   float64
 7   nonbuild_ht      4720 non-null   float64
 8   project_cost     2270 non-null   object
 9   project_type     9183 non-null   object
 10  sic_list         2696 non-null   object
 11  fatality         18565 non-null  object
 12  load_dt          45561 non-null  datetime64[ns]
 13  rel_insp_nr      45560 non-null  object
 14  age              45560 non-null  float64
 15  sex              2661 non-null   object
 16  nature_of_inj    3008 non-null   float64
 17  part_of_body     3008 non-null   float64
 18  src_of_injury    3008 non-null   float64
 19  event_type       45490 non-null  float64
 20  evn_factor       3008 non-null   float64
 21  hum_factor       3008 non-null   float64
 22  occ_code         39991 non-null  float64
 23  degree_of_inj    45490 non-null  float64
 24  task_assigned    35085 non-null  float64
 25  hazsub           129 non-null    object
 26  const_op         2835 non-null   float64
 27  const_op_cause   11039 non-null  float64
 28  fat_cause        2806 non-null   float64
 29  fall_distance    3031 non-null   float64
 30  fall_ht          3180 non-null   float64
 31  injury_line_nr   45560 non-null  float64
 32  abstract_text    45559 non-null  object
 33  activity_nr      45537 non-null  object
 34  reporting_id     45537 non-null  object
 35  estab_name       45537 non-null  object
 36  site_address     45537 non-null  object
 37  site_city        45528 non-null  object
 38  site_state       45537 non-null  object
 39  site_zip         45535 non-null  object
 40  owner_type       45537 non-null  object
 41  owner_code       2874 non-null   object
 42  adv_notice       45537 non-null  object
 43  safety_hlth      45537 non-null  object
 44  sic_code         4747 non-null   object
 45  naics_code       45536 non-null  object
 46  insp_type        45537 non-null  object
 47  insp_scope       45537 non-null  object
 48  why_no_insp      42913 non-null  object
 49  union_status     45506 non-null  object
 50  safety_manuf     516 non-null    object
 51  safety_const     419 non-null    object
 52  safety_marit     8 non-null      object
 53  health_manuf     62 non-null     object
 54  health_const     6 non-null      object
 55  health_marit     0 non-null      object
 56  migrant          72 non-null     object
 57  mail_street      44845 non-null  object
 58  mail_city        44817 non-null  object
 59  mail_state       44817 non-null  object
 60  mail_zip         45497 non-null  object
 61  host_est_key     45537 non-null  object
 62  nr_in_estab      45494 non-null  float64
 63  open_date        45537 non-null  datetime64[ns]
 64  case_mod_date    45537 non-null  datetime64[ns]
 65  close_conf_date  45120 non-null  datetime64[ns]
 66  close_case_date  41918 non-null  datetime64[ns]
 67  ld_dt            45537 non-null  datetime64[ns]
dtypes: datetime64[ns](7), float64(19), object(42)
memory usage: 24.0+ MB

In [353]:
inspection_w_accident['close_case_date'] = pd.to_datetime(inspection_w_accident['close_case_date'])

In [354]:
inspection_w_accident.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45561 entries, 0 to 45560
Data columns (total 68 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   summary_nr       45561 non-null  object
 1   report_id        45561 non-null  object
 2   event_date       45561 non-null  datetime64[ns]
 3   event_desc       45561 non-null  object
 4   event_keyword    45441 non-null  object
 5   const_end_use    8783 non-null   object
 6   build_stories    6265 non-null   float64
 7   nonbuild_ht      4720 non-null   float64
 8   project_cost     2270 non-null   object
 9   project_type     9183 non-null   object
 10  sic_list         2696 non-null   object
 11  fatality         18565 non-null  object
 12  load_dt          45561 non-null  datetime64[ns]
 13  rel_insp_nr      45560 non-null  object
 14  age              45560 non-null  float64
 15  sex              2661 non-null   object
 16  nature_of_inj    3008 non-null   float64
 17  part_of_body     3008 non-null   float64
 18  src_of_injury    3008 non-null   float64
 19  event_type       45490 non-null  float64
 20  evn_factor       3008 non-null   float64
 21  hum_factor       3008 non-null   float64
 22  occ_code         39991 non-null  float64
 23  degree_of_inj    45490 non-null  float64
 24  task_assigned    35085 non-null  float64
 25  hazsub           129 non-null    object
 26  const_op         2835 non-null   float64
 27  const_op_cause   11039 non-null  float64
 28  fat_cause        2806 non-null   float64
 29  fall_distance    3031 non-null   float64
 30  fall_ht          3180 non-null   float64
 31  injury_line_nr   45560 non-null  float64
 32  abstract_text    45559 non-null  object
 33  activity_nr      45537 non-null  object
 34  reporting_id     45537 non-null  object
 35  estab_name       45537 non-null  object
 36  site_address     45537 non-null  object
 37  site_city        45528 non-null  object
 38  site_state       45537 non-null  object
 39  site_zip         45535 non-null  object
 40  owner_type       45537 non-null  object
 41  owner_code       2874 non-null   object
 42  adv_notice       45537 non-null  object
 43  safety_hlth      45537 non-null  object
 44  sic_code         4747 non-null   object
 45  naics_code       45536 non-null  object
 46  insp_type        45537 non-null  object
 47  insp_scope       45537 non-null  object
 48  why_no_insp      42913 non-null  object
 49  union_status     45506 non-null  object
 50  safety_manuf     516 non-null    object
 51  safety_const     419 non-null    object
 52  safety_marit     8 non-null      object
 53  health_manuf     62 non-null     object
 54  health_const     6 non-null      object
 55  health_marit     0 non-null      object
 56  migrant          72 non-null     object
 57  mail_street      44845 non-null  object
 58  mail_city        44817 non-null  object
 59  mail_state       44817 non-null  object
 60  mail_zip         45497 non-null  object
 61  host_est_key     45537 non-null  object
 62  nr_in_estab      45494 non-null  float64
 63  open_date        45537 non-null  datetime64[ns]
 64  case_mod_date    45537 non-null  datetime64[ns]
 65  close_conf_date  45120 non-null  datetime64[ns]
 66  close_case_date  41918 non-null  datetime64[ns]
 67  ld_dt            45537 non-null  datetime64[ns]
dtypes: datetime64[ns](7), float64(19), object(42)
memory usage: 24.0+ MB

In [371]:
# duplicated activity_nr

inspection_w_accident[inspection_w_accident['activity_nr'].duplicated()]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt
457,201079068,950632,2013-06-05 05:00:00,Employee Slips and Fractur...,"FRACTURE,SLIP,FALL,LEG",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-22 00:18:30,315348847,66.0,M,12.0,11.0,30.0,1.0,18.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 5, 2013, Employee ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
503,201079605,950632,2013-11-12 08:05:00,Employee Is Killed When St...,"HEAD,TREE LIMB,CHAIN SAW,S...",A,2.0,50.0,B,B,1522,X,2019-07-22 00:18:30,317230167,41.0,M,12.0,13.0,39.0,1.0,6.0,1.0,889.0,1.0,2.0,NaN,32.0,45.0,26.0,NaN,NaN,1.0,"On November 12, 2013, Empl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
1601,202556379,950631,2013-06-04 00:00:00,Employee Gets Pinned by Ca...,"FRACTURE,VEHICLE,PINNED,LEG",NaN,NaN,NaN,NaN,NaN,7549,NaN,2019-07-22 00:18:31,315534230,40.0,M,12.0,16.0,29.0,1.0,18.0,14.0,805.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 4, 2013, Employee ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
2304,202675351,950621,2013-09-24 07:15:00,Employee Amputates Finger ...,"AMPUTATED,FINGER,LOG,HYDRA...",NaN,NaN,NaN,NaN,NaN,6515,NaN,2019-07-22 00:18:31,317246965,63.0,M,1.0,10.0,26.0,2.0,1.0,10.0,889.0,3.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On September 24, 2013, Emp...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
7924,220919468,0257260,2016-12-27 07:12:00,EMPLOYEE IS STRUCK AND KIL...,"STRUCK BY,HEAD,CHEST,AMUSE...",NaN,NaN,NaN,NaN,NaN,NaN,X,2017-04-13 01:01:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
34158,221254147,0950641,2019-06-07 00:00:00,EMPLOYEE FRACTURES LEG IN ...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-09 02:39:42,344725338,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,575.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 8:30 a.m. on June 7, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
35638,221283229,0950625,2020-07-26 00:00:00,EMPLOYEE WITH COVID-19 INF...,INFECTIOUS DISEASE,NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,344867114,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,424.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 12:00 p.m. on July 26, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
36135,221290992,0950644,2020-08-11 00:00:00,EMPLOYEE WITH COVID-19 INF...,INFECTIOUS DISEASE,NaN,NaN,NaN,NaN,NaN,NaN,X,2021-10-29 00:20:21,344881909,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,303.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,An employee was working fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
39672,221382047,0552652,2021-08-16 00:00:00,EMPLOYEE IS CRUSHED BETWEE...,"CAUGHT BETWEEN,CRUSHED,TRA...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,345480966,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,804.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 1:30 p.m. on August 16,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
40809,221408743,0950635,2021-11-04 00:00:00,EMPLOYEE IS ELECTROCUTED I...,"BURN,CUT,CUTTING,ELECTRIC ...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:45,345622096,0.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,533.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 9:45 a.m. on November 4...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
40849,221409311,0419730,2021-10-18 00:00:00,EMPLOYEE WITH COVID-19 INF...,INFECTIOUS DISEASE,NaN,NaN,NaN,NaN,NaN,NaN,X,2023-02-16 00:19:19,345626816,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,439.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,An employee was working as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
41176,221414873,0552652,2021-11-24 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"CAUGHT BETWEEN,HEAD,PINNED...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:45,345658298,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 6:00 a.m. on November 2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
41419,221418692,0215800,2021-10-22 00:00:00,EMPLOYEE WITH COVID-19 INF...,INFECTIOUS DISEASE,NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:45,345643134,0.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 8:00 a.m. on October 22...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
41917,221425754,0213600,2022-01-07 00:00:00,EMPLOYEE IS KILLED IN FORK...,"CAUGHT BETWEEN,CRUSHED,FOR...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:45,345714596,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,779.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 7:15 a.m. on January 7,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
42006,221426976,0112300,2022-01-10 00:00:00,EMPLOYEE FRACTURES SHIN AN...,"BACK-UP ALARM,BACKING UP,B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:45,345718886,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,804.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 6:30 a.m. on January 10...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
43712,221455033,0253420,2021-08-30 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"BURN,LIGHTNING,STRUCK BY",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,345563795,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 4:30 p.m. on August 3, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
43893,221460322,0111500,2022-01-18 00:00:00,EMPLOYEE FRACTURES KNEE AN...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:42,345747414,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 5:00 a.m. on January 18...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
44167,221468515,0854910,2022-05-31 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BLUNT FORCE,BLUNT FORCE TR...",A,2.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,345988646,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,7004.0,1.0,NaN,NaN,NaN,43.0,NaN,25.0,25.0,1.0,"At 11:00 a.m. on May 31, 2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
44192,221469356,0950641,2021-12-16 00:00:00,EMPLOYEE FRACTURES SPINE I...,"BACK,BLUNT FORCE,BLUNT FOR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:18:42,345848550,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 1:05 a.m. on December 1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
44365,221474604,0419400,2022-06-24 00:00:00,EMPLOYEE IS KILLED WHEN RU...,"ASPHALT,BLUNT FORCE,BLUNT ...",I,NaN,NaN,NaN,C,NaN,X,2023-07-03 00:18:42,346050073,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,594.0,1.0,NaN,NaN,NaN,34.0,NaN,NaN,NaN,1.0,"At 11:30 a.m. on June 24, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
44381,221475247,0419400,2022-06-30 00:00:00,EMPLOYEE IS KILLED IN FALL...,"BUILDING,COMMUNICATION TOW...",C,NaN,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346056195,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,7016.0,1.0,NaN,NaN,NaN,24.0,NaN,25.0,25.0,1.0,"At 11:45 a.m. on June 30, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
44646,221484660,0950411,2022-01-06 00:00:00,TWO EMPLOYEES FALL FROM RO...,"FALL,FALL FROM ELEVATION,F...",C,NaN,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,345763031,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,595.0,2.0,NaN,NaN,NaN,43.0,NaN,42.0,NaN,1.0,"At 5:15 p.m. on January 6,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
45471,221525785,0950411,2022-06-09 00:00:00,"EMPLOYEE FALLS, LACERATES ...","ARM,ARTERY,FALL,FALL FROM ...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-06-02 00:18:53,346417074,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,999.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"At 3:30 p.m. on June 9, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT

export inspection_w_accident csv

In [355]:
inspection_w_accident.to_csv('./accident_w_inspection.csv', index=False)

### merge osha related activity

In [206]:
# read file

related_activity0 = pd.read_csv('./data/osha_related_activity_20230703.csv/osha_related_activity0.csv', dtype={
    'activity_nr': str,
    'rel_act_nr': str
})

related_activity1 = pd.read_csv('./data/osha_related_activity_20230703.csv/osha_related_activity1.csv', dtype={
    'activity_nr': str,
    'rel_act_nr': str
})

related_activity2 = pd.read_csv('./data/osha_related_activity_20230703.csv/osha_related_activity2.csv', dtype={
    'activity_nr': str,
    'rel_act_nr': str
})

In [207]:
# concatenate

related_activity = pd.concat([related_activity0, related_activity1, related_activity2], axis=0)

In [362]:
inspection_w_accident.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45561 entries, 0 to 45560
Data columns (total 68 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   summary_nr       45561 non-null  object
 1   report_id        45561 non-null  object
 2   event_date       45561 non-null  datetime64[ns]
 3   event_desc       45561 non-null  object
 4   event_keyword    45441 non-null  object
 5   const_end_use    8783 non-null   object
 6   build_stories    6265 non-null   float64
 7   nonbuild_ht      4720 non-null   float64
 8   project_cost     2270 non-null   object
 9   project_type     9183 non-null   object
 10  sic_list         2696 non-null   object
 11  fatality         18565 non-null  object
 12  load_dt          45561 non-null  datetime64[ns]
 13  rel_insp_nr      45560 non-null  object
 14  age              45560 non-null  float64
 15  sex              2661 non-null   object
 16  nature_of_inj    3008 non-null   float64
 17  part_of_body     3008 non-null   float64
 18  src_of_injury    3008 non-null   float64
 19  event_type       45490 non-null  float64
 20  evn_factor       3008 non-null   float64
 21  hum_factor       3008 non-null   float64
 22  occ_code         39991 non-null  float64
 23  degree_of_inj    45490 non-null  float64
 24  task_assigned    35085 non-null  float64
 25  hazsub           129 non-null    object
 26  const_op         2835 non-null   float64
 27  const_op_cause   11039 non-null  float64
 28  fat_cause        2806 non-null   float64
 29  fall_distance    3031 non-null   float64
 30  fall_ht          3180 non-null   float64
 31  injury_line_nr   45560 non-null  float64
 32  abstract_text    45559 non-null  object
 33  activity_nr      45537 non-null  object
 34  reporting_id     45537 non-null  object
 35  estab_name       45537 non-null  object
 36  site_address     45537 non-null  object
 37  site_city        45528 non-null  object
 38  site_state       45537 non-null  object
 39  site_zip         45535 non-null  object
 40  owner_type       45537 non-null  object
 41  owner_code       2874 non-null   object
 42  adv_notice       45537 non-null  object
 43  safety_hlth      45537 non-null  object
 44  sic_code         4747 non-null   object
 45  naics_code       45536 non-null  object
 46  insp_type        45537 non-null  object
 47  insp_scope       45537 non-null  object
 48  why_no_insp      42913 non-null  object
 49  union_status     45506 non-null  object
 50  safety_manuf     516 non-null    object
 51  safety_const     419 non-null    object
 52  safety_marit     8 non-null      object
 53  health_manuf     62 non-null     object
 54  health_const     6 non-null      object
 55  health_marit     0 non-null      object
 56  migrant          72 non-null     object
 57  mail_street      44845 non-null  object
 58  mail_city        44817 non-null  object
 59  mail_state       44817 non-null  object
 60  mail_zip         45497 non-null  object
 61  host_est_key     45537 non-null  object
 62  nr_in_estab      45494 non-null  float64
 63  open_date        45537 non-null  datetime64[ns]
 64  case_mod_date    45537 non-null  datetime64[ns]
 65  close_conf_date  45120 non-null  datetime64[ns]
 66  close_case_date  41918 non-null  datetime64[ns]
 67  ld_dt            45537 non-null  datetime64[ns]
dtypes: datetime64[ns](7), float64(19), object(42)
memory usage: 24.0+ MB

In [208]:
related_activity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2256519 entries, 0 to 256518
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   activity_nr  object
 1   rel_type     object
 2   rel_act_nr   object
 3   rel_safety   object
 4   rel_health   object
 5   load_dt      object
dtypes: object(6)
memory usage: 120.5+ MB

In [372]:
accident_insp_act = pd.merge(
    inspection_w_accident,
    related_activity,
    left_on='rel_insp_nr',
    right_on='activity_nr',
    how='left',
    validate='1:m'
)

In [373]:
accident_insp_act.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57999 entries, 0 to 57998
Data columns (total 74 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   summary_nr       57999 non-null  object
 1   report_id        57999 non-null  object
 2   event_date       57999 non-null  datetime64[ns]
 3   event_desc       57999 non-null  object
 4   event_keyword    57868 non-null  object
 5   const_end_use    12989 non-null  object
 6   build_stories    9497 non-null   float64
 7   nonbuild_ht      6954 non-null   float64
 8   project_cost     3142 non-null   object
 9   project_type     13554 non-null  object
 10  sic_list         2783 non-null   object
 11  fatality         25783 non-null  object
 12  load_dt_x        57999 non-null  datetime64[ns]
 13  rel_insp_nr      57998 non-null  object
 14  age              57998 non-null  float64
 15  sex              2747 non-null   object
 16  nature_of_inj    3437 non-null   float64
 17  part_of_body     3437 non-null   float64
 18  src_of_injury    3437 non-null   float64
 19  event_type       57912 non-null  float64
 20  evn_factor       3437 non-null   float64
 21  hum_factor       3437 non-null   float64
 22  occ_code         50771 non-null  float64
 23  degree_of_inj    57912 non-null  float64
 24  task_assigned    44177 non-null  float64
 25  hazsub           147 non-null    object
 26  const_op         3115 non-null   float64
 27  const_op_cause   15163 non-null  float64
 28  fat_cause        3058 non-null   float64
 29  fall_distance    4681 non-null   float64
 30  fall_ht          4715 non-null   float64
 31  injury_line_nr   57998 non-null  float64
 32  abstract_text    57995 non-null  object
 33  activity_nr_x    57975 non-null  object
 34  reporting_id     57975 non-null  object
 35  estab_name       57975 non-null  object
 36  site_address     57975 non-null  object
 37  site_city        57960 non-null  object
 38  site_state       57975 non-null  object
 39  site_zip         57970 non-null  object
 40  owner_type       57975 non-null  object
 41  owner_code       3022 non-null   object
 42  adv_notice       57975 non-null  object
 43  safety_hlth      57975 non-null  object
 44  sic_code         5210 non-null   object
 45  naics_code       57973 non-null  object
 46  insp_type        57975 non-null  object
 47  insp_scope       57975 non-null  object
 48  why_no_insp      55264 non-null  object
 49  union_status     57944 non-null  object
 50  safety_manuf     539 non-null    object
 51  safety_const     433 non-null    object
 52  safety_marit     8 non-null      object
 53  health_manuf     67 non-null     object
 54  health_const     6 non-null      object
 55  health_marit     0 non-null      object
 56  migrant          94 non-null     object
 57  mail_street      57257 non-null  object
 58  mail_city        57211 non-null  object
 59  mail_state       57210 non-null  object
 60  mail_zip         57912 non-null  object
 61  host_est_key     57975 non-null  object
 62  nr_in_estab      57932 non-null  float64
 63  open_date        57975 non-null  datetime64[ns]
 64  case_mod_date    57975 non-null  datetime64[ns]
 65  close_conf_date  57441 non-null  datetime64[ns]
 66  close_case_date  52661 non-null  datetime64[ns]
 67  ld_dt            57975 non-null  datetime64[ns]
 68  activity_nr_y    57279 non-null  object
 69  rel_type         57279 non-null  object
 70  rel_act_nr       57279 non-null  object
 71  rel_safety       26037 non-null  object
 72  rel_health       4069 non-null   object
 73  load_dt_y        57279 non-null  object
dtypes: datetime64[ns](7), float64(19), object(48)
memory usage: 33.2+ MB

In [374]:
accident_insp_act[accident_insp_act['rel_insp_nr'].duplicated()]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y
47,200042190,653510,2013-06-11 14:00:00,"Employee Is Struck by Saw,...","HEART,LADDER,SAW,STRUCK BY",A,1.0,14.0,C,A,1751,X,2019-07-22 00:18:29,316976968,38.0,M,18.0,5.0,21.0,1.0,3.0,1.0,869.0,1.0,1.0,8880,0.0,0.0,0.0,NaN,NaN,1.0,"On June 11, 2013, Employee...",316976968,0653510,OUTLAW CONSTRUCTION CO,4358 NAMBE ARC,LAS CRUCES,NM,88012,A,0000,N,S,1751,238350,A,A,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,P.O.BOX 13280,LAS CRUCES,NM,88013,N023 000020273,3.0,2013-06-17,2013-12-09,2013-07-14,2013-11-25,2013-12-12 01:01:24,316976968,A,100043694,NaN,NaN,2013-12-12 01:01:27 EST
80,200075620,453720,2014-01-22 14:50:00,Employee Catches Hand in E...,"AMPUTATED,FINGER,ROLLER--M...",NaN,NaN,NaN,NaN,NaN,5031,NaN,2019-07-22 00:18:29,317513786,34.0,F,1.0,10.0,26.0,2.0,3.0,11.0,883.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 2:50 p.m....,317513786,0453720,"WILDERNESS N.C., INC",313 NEW CUT ROAD,LEXINGTON,NC,27293,A,0000,N,S,5031,423310,A,B,NaN,N,X,NaN,NaN,NaN,NaN,NaN,NaN,POST OFFICE BOX 2136,LEXINGTON,NC,27293,N097 000104944,45.0,2014-02-06,2016-06-01,2014-05-19,2015-08-20,2016-06-30 01:10:52,317513786,C,209213701,X,NaN,2016-06-30 01:11:08 EDT
102,200361640,453710,2013-04-16 10:00:00,Employee Suffers Two Fract...,"FRACTURE,ROOF,HEALTH CARE ...",C,1.0,38.0,A,C,1761,NaN,2019-07-22 00:18:29,317040723,45.0,M,12.0,16.0,8.0,5.0,13.0,14.0,999.0,3.0,2.0,NaN,15.0,15.0,15.0,NaN,18.0,1.0,An incident occurred as Em...,317040723,0453710,"LEROY MCFARLIN, JR. DBA MC...",1811 NORTH GREENE STREET,GREENVILLE,NC,27834,A,0000,N,S,1761,238990,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,"1509 JOEL DRIVE, #A",GREENVILLE,NC,27834,N016 000075653,3.0,2013-04-22,2016-07-11,2014-04-22,2016-06-27,2016-07-14 01:04:18,317040723,A,100364777,NaN,NaN,2016-07-14 01:04:27 EDT
111,200361764,453710,2013-07-16 18:30:00,Four Employees Suffer Heat...,"FIREFIGHTER,HEAT EXHAUSTION",NaN,NaN,NaN,NaN,NaN,9224,NaN,2019-07-22 00:18:29,317280931,33.0,M,15.0,4.0,23.0,14.0,17.0,14.0,417.0,3.0,1.0,8330,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 7:00 p.m....,317280931,0453710,"CITY OF JACKSONVILLE, PUBL...",402 MILL AVENUE.,JACKSONVILLE,NC,28540,A,0000,N,H,9224,922160,B,B,NaN,N,NaN,NaN,NaN,X,NaN,NaN,NaN,P. O. BOX 128,JACKSONVILLE,NC,28541,N016 000076559,258.0,2013-07-24,2014-09-11,2013-07-25,2014-09-09,2014-09-15 01:01:19,317280931,A,100365105,NaN,NaN,2014-09-15 01:01:21 EDT
113,200361772,453710,2013-06-18 09:00:00,Driver Hurt When Truck Unl...,"UNEVEN GROUND,TRUCK,ABRASI...",C,1.0,NaN,B,A,1794,NaN,2019-07-22 00:18:29,316783687,55.0,M,3.0,13.0,29.0,6.0,18.0,1.0,804.0,3.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 18, 2013, an emplo...",316783687,0453710,"MORTON TRUCKING, INC.",WESTERN BLVD (ADJACENT TOY...,JACKSONVILLE,NC,28546,A,0000,N,S,1794,238910,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,121 GARNETT LANE,JACKSONVILLE,NC,28546,N016 000046249,117.0,2013-07-18,2013-09-30,2013-09-13,2013-09-30,2013-10-03 02:13:17,316783687,C,209148592,X,NaN,2013-10-03 02:13:20 EDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57969,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,I,1640157,X,NaN,2023-07-03 00:33:05 EDT
57970,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,I,1640193,X,NaN,2023-07-03 00:33:05 EDT
57971,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,R,2027339,X,NaN,2023-07-03 00:33:05 EDT
57986,316348952,950644,2013-09-09 13:10:00,Amputation,"GRINDER,TENDON,FINGER,HAND",NaN,NaN,NaN,NaN,NaN,2041,NaN,2019-07-22 00:18:31,316348952,42.0,M,7.0,12.0,26.0,2.0,3.0,9.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On September 9, 2013, Empl...",316348952,0950644,"NINAS MEXICAN FOODS, INC.",20631 VALLEY BLVD STE A,WALNUT,CA,91789,A,0000,N,S,2041,311211,B,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N087 000026795,110.0,2014-02-21,2016-01-12,2014-08-13,2014-12-17,2016-01-15 01:02:04,316348952,A,102931763,NaN,NaN,2016-01-15 01:02:08 EST
57991,316522218,950621,2013-04-05 14:00:00,Chemical Odor Sends Eight ...,"RESPIRATORY,HEADACHE,CHEMI...",NaN,NaN,NaN,NaN,NaN,8322,NaN,2019-07-22 00:18:31,316522218,59.0,M,21.0,1.0,43.0,8.0,7.0,14.0,308.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On April 5, 2013, Employee...",316522218,0950621,EMERGENCY MEDICAL SERVICES...,10901 GOLD CENTER DR STE 400,RANCHO CORDOVA,CA,95670,C,0000,N,H,8322,624230,A,B,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000038634,80.0,2013-04-26,2014-01-03,2013-10-02,2013-12-17,2014-01-06 01:01:06,316522218,C,208851279,NaN,X,2014-01-06 01:01:07 EST

In [376]:
dupe_cases_act = accident_insp_act[accident_insp_act['rel_insp_nr'].duplicated()].copy()
dupe_cases_act

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y
47,200042190,653510,2013-06-11 14:00:00,"Employee Is Struck by Saw,...","HEART,LADDER,SAW,STRUCK BY",A,1.0,14.0,C,A,1751,X,2019-07-22 00:18:29,316976968,38.0,M,18.0,5.0,21.0,1.0,3.0,1.0,869.0,1.0,1.0,8880,0.0,0.0,0.0,NaN,NaN,1.0,"On June 11, 2013, Employee...",316976968,0653510,OUTLAW CONSTRUCTION CO,4358 NAMBE ARC,LAS CRUCES,NM,88012,A,0000,N,S,1751,238350,A,A,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,P.O.BOX 13280,LAS CRUCES,NM,88013,N023 000020273,3.0,2013-06-17,2013-12-09,2013-07-14,2013-11-25,2013-12-12 01:01:24,316976968,A,100043694,NaN,NaN,2013-12-12 01:01:27 EST
80,200075620,453720,2014-01-22 14:50:00,Employee Catches Hand in E...,"AMPUTATED,FINGER,ROLLER--M...",NaN,NaN,NaN,NaN,NaN,5031,NaN,2019-07-22 00:18:29,317513786,34.0,F,1.0,10.0,26.0,2.0,3.0,11.0,883.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 2:50 p.m....,317513786,0453720,"WILDERNESS N.C., INC",313 NEW CUT ROAD,LEXINGTON,NC,27293,A,0000,N,S,5031,423310,A,B,NaN,N,X,NaN,NaN,NaN,NaN,NaN,NaN,POST OFFICE BOX 2136,LEXINGTON,NC,27293,N097 000104944,45.0,2014-02-06,2016-06-01,2014-05-19,2015-08-20,2016-06-30 01:10:52,317513786,C,209213701,X,NaN,2016-06-30 01:11:08 EDT
102,200361640,453710,2013-04-16 10:00:00,Employee Suffers Two Fract...,"FRACTURE,ROOF,HEALTH CARE ...",C,1.0,38.0,A,C,1761,NaN,2019-07-22 00:18:29,317040723,45.0,M,12.0,16.0,8.0,5.0,13.0,14.0,999.0,3.0,2.0,NaN,15.0,15.0,15.0,NaN,18.0,1.0,An incident occurred as Em...,317040723,0453710,"LEROY MCFARLIN, JR. DBA MC...",1811 NORTH GREENE STREET,GREENVILLE,NC,27834,A,0000,N,S,1761,238990,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,"1509 JOEL DRIVE, #A",GREENVILLE,NC,27834,N016 000075653,3.0,2013-04-22,2016-07-11,2014-04-22,2016-06-27,2016-07-14 01:04:18,317040723,A,100364777,NaN,NaN,2016-07-14 01:04:27 EDT
111,200361764,453710,2013-07-16 18:30:00,Four Employees Suffer Heat...,"FIREFIGHTER,HEAT EXHAUSTION",NaN,NaN,NaN,NaN,NaN,9224,NaN,2019-07-22 00:18:29,317280931,33.0,M,15.0,4.0,23.0,14.0,17.0,14.0,417.0,3.0,1.0,8330,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 7:00 p.m....,317280931,0453710,"CITY OF JACKSONVILLE, PUBL...",402 MILL AVENUE.,JACKSONVILLE,NC,28540,A,0000,N,H,9224,922160,B,B,NaN,N,NaN,NaN,NaN,X,NaN,NaN,NaN,P. O. BOX 128,JACKSONVILLE,NC,28541,N016 000076559,258.0,2013-07-24,2014-09-11,2013-07-25,2014-09-09,2014-09-15 01:01:19,317280931,A,100365105,NaN,NaN,2014-09-15 01:01:21 EDT
113,200361772,453710,2013-06-18 09:00:00,Driver Hurt When Truck Unl...,"UNEVEN GROUND,TRUCK,ABRASI...",C,1.0,NaN,B,A,1794,NaN,2019-07-22 00:18:29,316783687,55.0,M,3.0,13.0,29.0,6.0,18.0,1.0,804.0,3.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 18, 2013, an emplo...",316783687,0453710,"MORTON TRUCKING, INC.",WESTERN BLVD (ADJACENT TOY...,JACKSONVILLE,NC,28546,A,0000,N,S,1794,238910,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,121 GARNETT LANE,JACKSONVILLE,NC,28546,N016 000046249,117.0,2013-07-18,2013-09-30,2013-09-13,2013-09-30,2013-10-03 02:13:17,316783687,C,209148592,X,NaN,2013-10-03 02:13:20 EDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57969,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,I,1640157,X,NaN,2023-07-03 00:33:05 EDT
57970,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,I,1640193,X,NaN,2023-07-03 00:33:05 EDT
57971,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,R,2027339,X,NaN,2023-07-03 00:33:05 EDT
57986,316348952,950644,2013-09-09 13:10:00,Amputation,"GRINDER,TENDON,FINGER,HAND",NaN,NaN,NaN,NaN,NaN,2041,NaN,2019-07-22 00:18:31,316348952,42.0,M,7.0,12.0,26.0,2.0,3.0,9.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On September 9, 2013, Empl...",316348952,0950644,"NINAS MEXICAN FOODS, INC.",20631 VALLEY BLVD STE A,WALNUT,CA,91789,A,0000,N,S,2041,311211,B,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N087 000026795,110.0,2014-02-21,2016-01-12,2014-08-13,2014-12-17,2016-01-15 01:02:04,316348952,A,102931763,NaN,NaN,2016-01-15 01:02:08 EST
57991,316522218,950621,2013-04-05 14:00:00,Chemical Odor Sends Eight ...,"RESPIRATORY,HEADACHE,CHEMI...",NaN,NaN,NaN,NaN,NaN,8322,NaN,2019-07-22 00:18:31,316522218,59.0,M,21.0,1.0,43.0,8.0,7.0,14.0,308.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On April 5, 2013, Employee...",316522218,0950621,EMERGENCY MEDICAL SERVICES...,10901 GOLD CENTER DR STE 400,RANCHO CORDOVA,CA,95670,C,0000,N,H,8322,624230,A,B,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000038634,80.0,2013-04-26,2014-01-03,2013-10-02,2013-12-17,2014-01-06 01:01:06,316522218,C,208851279,NaN,X,2014-01-06 01:01:07 EST

In [377]:
dupe_cases_act_ids = dupe_cases_act['rel_insp_nr'].unique()

In [378]:
dupe_cases_act_ids

array(['316976968', '317513786', '317040723', ..., '346402266',
       '316348952', '316522218'], dtype=object)

In [379]:
accident_insp_act[accident_insp_act['rel_insp_nr'].isin(dupe_cases_act_ids)]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y
46,200042190,653510,2013-06-11 14:00:00,"Employee Is Struck by Saw,...","HEART,LADDER,SAW,STRUCK BY",A,1.0,14.0,C,A,1751,X,2019-07-22 00:18:29,316976968,38.0,M,18.0,5.0,21.0,1.0,3.0,1.0,869.0,1.0,1.0,8880,0.0,0.0,0.0,NaN,NaN,1.0,"On June 11, 2013, Employee...",316976968,0653510,OUTLAW CONSTRUCTION CO,4358 NAMBE ARC,LAS CRUCES,NM,88012,A,0000,N,S,1751,238350,A,A,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,P.O.BOX 13280,LAS CRUCES,NM,88013,N023 000020273,3.0,2013-06-17,2013-12-09,2013-07-14,2013-11-25,2013-12-12 01:01:24,316976968,R,203322623,X,NaN,2013-12-12 01:01:27 EST
47,200042190,653510,2013-06-11 14:00:00,"Employee Is Struck by Saw,...","HEART,LADDER,SAW,STRUCK BY",A,1.0,14.0,C,A,1751,X,2019-07-22 00:18:29,316976968,38.0,M,18.0,5.0,21.0,1.0,3.0,1.0,869.0,1.0,1.0,8880,0.0,0.0,0.0,NaN,NaN,1.0,"On June 11, 2013, Employee...",316976968,0653510,OUTLAW CONSTRUCTION CO,4358 NAMBE ARC,LAS CRUCES,NM,88012,A,0000,N,S,1751,238350,A,A,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,P.O.BOX 13280,LAS CRUCES,NM,88013,N023 000020273,3.0,2013-06-17,2013-12-09,2013-07-14,2013-11-25,2013-12-12 01:01:24,316976968,A,100043694,NaN,NaN,2013-12-12 01:01:27 EST
79,200075620,453720,2014-01-22 14:50:00,Employee Catches Hand in E...,"AMPUTATED,FINGER,ROLLER--M...",NaN,NaN,NaN,NaN,NaN,5031,NaN,2019-07-22 00:18:29,317513786,34.0,F,1.0,10.0,26.0,2.0,3.0,11.0,883.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 2:50 p.m....,317513786,0453720,"WILDERNESS N.C., INC",313 NEW CUT ROAD,LEXINGTON,NC,27293,A,0000,N,S,5031,423310,A,B,NaN,N,X,NaN,NaN,NaN,NaN,NaN,NaN,POST OFFICE BOX 2136,LEXINGTON,NC,27293,N097 000104944,45.0,2014-02-06,2016-06-01,2014-05-19,2015-08-20,2016-06-30 01:10:52,317513786,A,100077163,NaN,NaN,2016-06-30 01:11:08 EDT
80,200075620,453720,2014-01-22 14:50:00,Employee Catches Hand in E...,"AMPUTATED,FINGER,ROLLER--M...",NaN,NaN,NaN,NaN,NaN,5031,NaN,2019-07-22 00:18:29,317513786,34.0,F,1.0,10.0,26.0,2.0,3.0,11.0,883.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 2:50 p.m....,317513786,0453720,"WILDERNESS N.C., INC",313 NEW CUT ROAD,LEXINGTON,NC,27293,A,0000,N,S,5031,423310,A,B,NaN,N,X,NaN,NaN,NaN,NaN,NaN,NaN,POST OFFICE BOX 2136,LEXINGTON,NC,27293,N097 000104944,45.0,2014-02-06,2016-06-01,2014-05-19,2015-08-20,2016-06-30 01:10:52,317513786,C,209213701,X,NaN,2016-06-30 01:11:08 EDT
101,200361640,453710,2013-04-16 10:00:00,Employee Suffers Two Fract...,"FRACTURE,ROOF,HEALTH CARE ...",C,1.0,38.0,A,C,1761,NaN,2019-07-22 00:18:29,317040723,45.0,M,12.0,16.0,8.0,5.0,13.0,14.0,999.0,3.0,2.0,NaN,15.0,15.0,15.0,NaN,18.0,1.0,An incident occurred as Em...,317040723,0453710,"LEROY MCFARLIN, JR. DBA MC...",1811 NORTH GREENE STREET,GREENVILLE,NC,27834,A,0000,N,S,1761,238990,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,"1509 JOEL DRIVE, #A",GREENVILLE,NC,27834,N016 000075653,3.0,2013-04-22,2016-07-11,2014-04-22,2016-06-27,2016-07-14 01:04:18,317040723,C,209056951,X,NaN,2016-07-14 01:04:27 EDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57971,221556046,0625400,2022-12-15 00:00:00,EMPLOYEE FALLS THROUGH HOL...,"BLUNT FORCE,BLUNT FORCE TR...",B,3.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346402266,0.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,869.0,1.0,NaN,NaN,NaN,67.0,NaN,24.0,24.0,1.0,At 4:30 p.m. on December 1...,346402266,0625400,"GONZALEZ FRAMING, LLC",TERRY-O LANE,AUSTIN,TX,78745,A,NaN,N,S,NaN,238130,M,B,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429 LOS COBOS LANE,GEORGETOWN,TX,78626,HOST_EST_KEY_VALUE,16.0,2022-12-16,2023-07-02,2022-12-16,NaT,2023-07-03 00:28:21,346402266,R,2027339,X,NaN,2023-07-03 00:33:05 EDT
57985,316348952,950644,2013-09-09 13:10:00,Amputation,"GRINDER,TENDON,FINGER,HAND",NaN,NaN,NaN,NaN,NaN,2041,NaN,2019-07-22 00:18:31,316348952,42.0,M,7.0,12.0,26.0,2.0,3.0,9.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On September 9, 2013, Empl...",316348952,0950644,"NINAS MEXICAN FOODS, INC.",20631 VALLEY BLVD STE A,WALNUT,CA,91789,A,0000,N,S,2041,311211,B,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N087 000026795,110.0,2014-02-21,2016-01-12,2014-08-13,2014-12-17,2016-01-15 01:02:04,316348952,C,209011048,X,NaN,2016-01-15 01:02:08 EST
57986,316348952,950644,2013-09-09 13:10:00,Amputation,"GRINDER,TENDON,FINGER,HAND",NaN,NaN,NaN,NaN,NaN,2041,NaN,2019-07-22 00:18:31,316348952,42.0,M,7.0,12.0,26.0,2.0,3.0,9.0,999.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On September 9, 2013, Empl...",316348952,0950644,"NINAS MEXICAN FOODS, INC.",20631 VALLEY BLVD STE A,WALNUT,CA,91789,A,0000,N,S,2041,311211,B,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N087 000026795,110.0,2014-02-21,2016-01-12,2014-08-13,2014-12-17,2016-01-15 01:02:04,316348952,A,102931763,NaN,NaN,2016-01-15 01:02:08 EST
57990,316522218,950621,2013-04-05 14:00:00,Chemical Odor Sends Eight ...,"RESPIRATORY,HEADACHE,CHEMI...",NaN,NaN,NaN,NaN,NaN,8322,NaN,2019-07-22 00:18:31,316522218,59.0,M,21.0,1.0,43.0,8.0,7.0,14.0,308.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On April 5, 2013, Employee...",316522218,0950621,EMERGENCY MEDICAL SERVICES...,10901 GOLD CENTER DR STE 400,RANCHO CORDOVA,CA,95670,C,0000,N,H,8322,624230,A,B,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000038634,80.0,2013-04-26,2014-01-03,2013-10-02,2013-12-17,2014-01-06 01:01:06,316522218,A,102683810,NaN,NaN,2014-01-06 01:01:07 EST
57991,316522218,950621,2013-04-05 14:00:00,Chemical Odor Sends Eight ...,"RESPIRATORY,HEADACHE,CHEMI...",NaN,NaN,NaN,NaN,NaN,8322,NaN,2019-07-22 00:18:31,316522218,59.0,M,21.0,1.0,43.0,8.0,7.0,14.0,308.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On April 5, 2013, Employee...",316522218,0950621,EMERGENCY MEDICAL SERVICES...,10901 GOLD CENTER DR STE 400,RANCHO CORDOVA,CA,95670,C,0000,N,H,8322,624230,A,B,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000038634,80.0,2013-04-26,2014-01-03,2013-10-02,2013-12-17,2014-01-06 01:01:06,316522218,C,208851279,NaN,X,2014-01-06 01:01:07 EST

In [380]:
accident_insp_act_nodupe_inspnr = accident_insp_act.drop_duplicates(subset=['rel_insp_nr'])

In [384]:
# check duplicates

accident_insp_act_nodupe_inspnr[accident_insp_act_nodupe_inspnr['rel_insp_nr'].duplicated()]

# they are duplicated but the `injury_line_nr` is different

Empty DataFrame
Columns: [summary_nr, report_id, event_date, event_desc, event_keyword, const_end_use, build_stories, nonbuild_ht, project_cost, project_type, sic_list, fatality, load_dt_x, rel_insp_nr, age, sex, nature_of_inj, part_of_body, src_of_injury, event_type, evn_factor, hum_factor, occ_code, degree_of_inj, task_assigned, hazsub, const_op, const_op_cause, fat_cause, fall_distance, fall_ht, injury_line_nr, abstract_text, activity_nr_x, reporting_id, estab_name, site_address, site_city, site_state, site_zip, owner_type, owner_code, adv_notice, safety_hlth, sic_code, naics_code, insp_type, insp_scope, why_no_insp, union_status, safety_manuf, safety_const, safety_marit, health_manuf, health_const, health_marit, migrant, mail_street, mail_city, mail_state, mail_zip, host_est_key, nr_in_estab, open_date, case_mod_date, close_conf_date, close_case_date, ld_dt, activity_nr_y, rel_type, rel_act_nr, rel_safety, rel_health, load_dt_y]
Index: []

In [417]:
accident_insp_act_nodupe_inspnr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45561 entries, 0 to 57998
Data columns (total 74 columns):
 #   Column           Dtype
---  ------           -----
 0   summary_nr       object
 1   report_id        object
 2   event_date       datetime64[ns]
 3   event_desc       object
 4   event_keyword    object
 5   const_end_use    object
 6   build_stories    float64
 7   nonbuild_ht      float64
 8   project_cost     object
 9   project_type     object
 10  sic_list         object
 11  fatality         object
 12  load_dt_x        datetime64[ns]
 13  rel_insp_nr      object
 14  age              float64
 15  sex              object
 16  nature_of_inj    float64
 17  part_of_body     float64
 18  src_of_injury    float64
 19  event_type       float64
 20  evn_factor       float64
 21  hum_factor       float64
 22  occ_code         float64
 23  degree_of_inj    float64
 24  task_assigned    float64
 25  hazsub           object
 26  const_op         float64
 27  const_op_cause   float64
 28  fat_cause        float64
 29  fall_distance    float64
 30  fall_ht          float64
 31  injury_line_nr   float64
 32  abstract_text    object
 33  activity_nr_x    object
 34  reporting_id     object
 35  estab_name       object
 36  site_address     object
 37  site_city        object
 38  site_state       object
 39  site_zip         object
 40  owner_type       object
 41  owner_code       object
 42  adv_notice       object
 43  safety_hlth      object
 44  sic_code         object
 45  naics_code       object
 46  insp_type        object
 47  insp_scope       object
 48  why_no_insp      object
 49  union_status     object
 50  safety_manuf     object
 51  safety_const     object
 52  safety_marit     object
 53  health_manuf     object
 54  health_const     object
 55  health_marit     object
 56  migrant          object
 57  mail_street      object
 58  mail_city        object
 59  mail_state       object
 60  mail_zip         object
 61  host_est_key     object
 62  nr_in_estab      float64
 63  open_date        datetime64[ns]
 64  case_mod_date    datetime64[ns]
 65  close_conf_date  datetime64[ns]
 66  close_case_date  datetime64[ns]
 67  ld_dt            datetime64[ns]
 68  activity_nr_y    object
 69  rel_type         object
 70  rel_act_nr       object
 71  rel_safety       object
 72  rel_health       object
 73  load_dt_y        object
dtypes: datetime64[ns](7), float64(19), object(48)
memory usage: 26.1+ MB

export accident+inspection+activity to csv

In [ ]:
accident_insp_act_nodupe_inspnr.to_csv('./accident_inspection_activity.csv', index=False)

### merge osha_violation

In [233]:
violation0 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation0.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation1 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation1.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation2 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation2.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation3 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation3.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation4 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation4.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation5 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation5.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation6 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation6.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation7 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation7.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation8 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation8.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation9 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation9.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation10 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation10.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation11 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation11.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

violation12 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation12.csv', dtype={
    'activity_nr': str,
    'fta_insp_nr': str
}, parse_dates=['issuance_date', 'abate_date', 'contest_date', 'final_order_date', 'fta_issuance_date', 'fta_contest_date', 'fta_final_order_date'])

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:1: DtypeWarning: Columns (2,16,17,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  violation0 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation0.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:6: DtypeWarning: Columns (2,16,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  violation1 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation1.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:11: DtypeWarning: Columns (16,17,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  violation2 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation2.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:16: DtypeWarning: Columns (16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation3 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation3.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:21: DtypeWarning: Columns (16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation4 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation4.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:26: DtypeWarning: Columns (16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation5 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation5.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:31: DtypeWarning: Columns (1,16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation6 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation6.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:36: DtypeWarning: Columns (2,16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation7 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation7.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:41: DtypeWarning: Columns (16,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation8 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation8.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:46: DtypeWarning: Columns (16,17,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation9 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation9.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:51: DtypeWarning: Columns (16,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation10 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation10.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/3043746465.py:56: DtypeWarning: Columns (7,16,17,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  violation11 = pd.read_csv('./data/osha_violation_20230703.csv/osha_violation11.csv', dtype={

In [234]:
# concatenate

violation = pd.concat([violation0, violation1, violation2, violation3, violation4, violation5, violation6, violation7, violation8, violation9, violation10, violation11, violation12], axis=0)

In [235]:
violation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12824086 entries, 0 to 824085
Data columns (total 29 columns):
 #   Column                Dtype
---  ------                -----
 0   activity_nr           object
 1   citation_id           object
 2   delete_flag           object
 3   standard              object
 4   viol_type             object
 5   issuance_date         datetime64[ns]
 6   abate_date            object
 7   abate_complete        object
 8   current_penalty       float64
 9   initial_penalty       float64
 10  contest_date          datetime64[ns]
 11  final_order_date      object
 12  nr_instances          float64
 13  nr_exposed            float64
 14  rec                   object
 15  gravity               float64
 16  emphasis              object
 17  hazcat                object
 18  fta_insp_nr           object
 19  fta_issuance_date     datetime64[ns]
 20  fta_penalty           float64
 21  fta_contest_date      datetime64[ns]
 22  fta_final_order_date  datetime64[ns]
 23  hazsub1               object
 24  hazsub2               object
 25  hazsub3               object
 26  hazsub4               object
 27  hazsub5               object
 28  load_dt               object
dtypes: datetime64[ns](5), float64(6), object(18)
memory usage: 2.9+ GB

In [387]:
# merge

accident_w_insp_violation = pd.merge(
    accident_insp_act_nodupe_inspnr,
    violation,
    left_on='rel_insp_nr',
    right_on='activity_nr',
    how='left',
    validate='1:m'
)

In [389]:
accident_w_insp_violation.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110223 entries, 0 to 110222
Data columns (total 103 columns):
 #    Column                Non-Null Count   Dtype
---   ------                --------------   -----
 0    summary_nr            110223 non-null  object
 1    report_id             110223 non-null  object
 2    event_date            110223 non-null  datetime64[ns]
 3    event_desc            110223 non-null  object
 4    event_keyword         110012 non-null  object
 5    const_end_use         23092 non-null   object
 6    build_stories         16831 non-null   float64
 7    nonbuild_ht           12727 non-null   float64
 8    project_cost          6478 non-null    object
 9    project_type          24110 non-null   object
 10   sic_list              7060 non-null    object
 11   fatality              49210 non-null   object
 12   load_dt_x             110223 non-null  datetime64[ns]
 13   rel_insp_nr           110222 non-null  object
 14   age                   110222 non-null  float64
 15   sex                   7017 non-null    object
 16   nature_of_inj         7641 non-null    float64
 17   part_of_body          7641 non-null    float64
 18   src_of_injury         7641 non-null    float64
 19   event_type            110096 non-null  float64
 20   evn_factor            7641 non-null    float64
 21   hum_factor            7641 non-null    float64
 22   occ_code              97942 non-null   float64
 23   degree_of_inj         110096 non-null  float64
 24   task_assigned         86545 non-null   float64
 25   hazsub                496 non-null     object
 26   const_op              7310 non-null    float64
 27   const_op_cause        28659 non-null   float64
 28   fat_cause             7267 non-null    float64
 29   fall_distance         8742 non-null    float64
 30   fall_ht               9230 non-null    float64
 31   injury_line_nr        110222 non-null  float64
 32   abstract_text         110220 non-null  object
 33   activity_nr_x         110186 non-null  object
 34   reporting_id          110186 non-null  object
 35   estab_name            110186 non-null  object
 36   site_address          110186 non-null  object
 37   site_city             110166 non-null  object
 38   site_state            110186 non-null  object
 39   site_zip              110184 non-null  object
 40   owner_type            110186 non-null  object
 41   owner_code            6758 non-null    object
 42   adv_notice            110186 non-null  object
 43   safety_hlth           110186 non-null  object
 44   sic_code              11880 non-null   object
 45   naics_code            110185 non-null  object
 46   insp_type             110186 non-null  object
 47   insp_scope            110186 non-null  object
 48   why_no_insp           103211 non-null  object
 49   union_status          110155 non-null  object
 50   safety_manuf          1405 non-null    object
 51   safety_const          1182 non-null    object
 52   safety_marit          10 non-null      object
 53   health_manuf          157 non-null     object
 54   health_const          13 non-null      object
 55   health_marit          0 non-null       object
 56   migrant               235 non-null     object
 57   mail_street           108298 non-null  object
 58   mail_city             108250 non-null  object
 59   mail_state            108249 non-null  object
 60   mail_zip              110107 non-null  object
 61   host_est_key          110186 non-null  object
 62   nr_in_estab           110143 non-null  float64
 63   open_date             110186 non-null  datetime64[ns]
 64   case_mod_date         110186 non-null  datetime64[ns]
 65   close_conf_date       109205 non-null  datetime64[ns]
 66   close_case_date       95781 non-null   datetime64[ns]
 67   ld_dt                 110186 non-null  datetime64[ns]
 68   activity_nr_y         108630 non-null  object
 69   rel_type              108630 non-null  object
 70   rel_act_nr            108630 non-null  object
 71   rel_safety            41382 non-null   object
 72   rel_health            6173 non-null    object
 73   load_dt_y             108630 non-null  object
 74   activity_nr           97443 non-null   object
 75   citation_id           97443 non-null   object
 76   delete_flag           8456 non-null    object
 77   standard              97443 non-null   object
 78   viol_type             97443 non-null   object
 79   issuance_date         97443 non-null   datetime64[ns]
 80   abate_date            73021 non-null   object
 81   abate_complete        89272 non-null   object
 82   current_penalty       96124 non-null   float64
 83   initial_penalty       96796 non-null   float64
 84   contest_date          34057 non-null   datetime64[ns]
 85   final_order_date      89413 non-null   object
 86   nr_instances          97443 non-null   float64
 87   nr_exposed            96744 non-null   float64
 88   rec                   36101 non-null   object
 89   gravity               70308 non-null   float64
 90   emphasis              0 non-null       object
 91   hazcat                23 non-null      object
 92   fta_insp_nr           60 non-null      object
 93   fta_issuance_date     60 non-null      datetime64[ns]
 94   fta_penalty           1027 non-null    float64
 95   fta_contest_date      5 non-null       datetime64[ns]
 96   fta_final_order_date  21 non-null      datetime64[ns]
 97   hazsub1               1645 non-null    object
 98   hazsub2               396 non-null     object
 99   hazsub3               196 non-null     object
 100  hazsub4               144 non-null     object
 101  hazsub5               118 non-null     object
 102  load_dt               97443 non-null   object
dtypes: datetime64[ns](12), float64(25), object(66)
memory usage: 87.5+ MB

In [391]:
accident_w_insp_violation[accident_w_insp_violation['rel_insp_nr'].duplicated()]

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,contest_date,final_order_date,nr_instances,nr_exposed,rec,gravity,emphasis,hazcat,fta_insp_nr,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt
1,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....,313748543,0257250,WASTE LANDFILL RECYCLING S...,BO. LUNA CARRETERA 13 DE ...,GUANICA,PR,00653,A,0000,N,S,9511,924110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URB SAN ANTONIO CALLE DILE...,GUANICA,PR,00728,N112 000018483,18.0,2013-04-10,2013-12-06,2013-04-18,2013-08-26,2013-12-09 01:00:35,313748543,A,100580208,NaN,NaN,2013-12-09 01:00:37 EST,313748543,01001,NaN,6A0001,S,2013-07-19,2013-07-29 00:00:00,X,360.0,600.0,NaT,NaT,1.0,1.0,A,1.0,NaN,UNCLASS,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-09 01:00:37 EST
3,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01003,X,19261053 B10,S,2013-11-26,2013-11-29,I,840.0,840.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT
4,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01002,NaN,19260050 E,S,2013-11-26,2013-12-29,X,1000.0,2100.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT
5,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01004,NaN,19261053 B11,S,2013-11-26,2013-11-30,X,4900.0,7000.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,A,10.0,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT
9,170627483,950621,2013-02-18 14:15:00,Machine Operator Amputates...,"AIR PRESSURE,AMPUTATED,FIN...",NaN,NaN,NaN,NaN,NaN,5172,NaN,2019-07-22 00:18:29,316521202,25.0,M,1.0,10.0,26.0,2.0,3.0,1.0,715.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On February 18, 2013, Empl...",316521202,950621,HRM HOLDINGS LLC DBA BLUEL...,2001 CHALLENGE AVE,OROVILLE,CA,95965,A,NaN,N,S,5172,424720,A,B,NaN,N,X,NaN,NaN,NaN,NaN,NaN,NaN,2001 CHALLENGE AVE,OROVILLE,CA,95965,N092 000036827,8.0,2013-02-26,2019-02-21,2013-03-19,2019-02-05,2019-02-26 00:17:43,316521202,A,102683257,,,2019-02-26 00:17:53 EST,316521202,01003,NaN,3314 J01,O,2013-03-20,2013-03-25,I,150.0,560.0,2013-04-15,2014-02-24 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2019-02-26 00:18:25 EST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110215,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl...",317144186,0950631,"STEVE DONNER CONSTRUCTION,...",2395 TEMPLE HILLS DR.,LAGUNA BEACH,CA,92651,A,0000,N,S,1521,236118,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31712 SCENIC DR.,LAGUNA BEACH,CA,92651,N085 000029926,3.0,2013-12-04,2016-02-16,2014-02-05,2015-08-20,2016-02-19 01:11:40,317144186,A,102852522,NaN,NaN,2016-02-19 01:12:02 EST,317144186,01002,NaN,1509 A,O,2014-02-10,2014-02-13,I,50.0,175.0,2014-03-03,2014-12-16 00:00:00,7.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-02-19 01:12:12 EST
110216,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl...",317144186,0950631,"STEVE DONNER CONSTRUCTION,...",2395 TEMPLE HILLS DR.,LAGUNA BEACH,CA,92651,A,0000,N,S,1521,236118,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31712 SCENIC DR.,LAGUNA BEACH,CA,92651,N085 000029926,3.0,2013-12-04,2016-02-16,2014-02-05,2015-08-20,2016-02-19 01:11:40,317144186,A,102852522,NaN,NaN,2016-02-19 01:12:02 EST,317144186,05001,NaN,1640 B04,S,2014-02-06,2014-02-11,I,2700.0,16200.0,2014-03-03,2014-12-16 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-02-19 01:12:12 EST
110217,317144186,950631,2013-11-25 11:37:00,Worker Injures Shoulder an...,"REPAIR,SHOULDER,UNDERPINNI...",A,2.0,NaN,A,B,1521,NaN,2019-07-22 00:18:31,317144186,60.0,M,9.0,22.0,42.0,5.0,13.0,14.0,869.0,2.0,1.0,NaN,14.0,14.0,16.0,NaN,28.0,1.0,"On November 25, 2013, Empl...",317144186,0950631,"STEVE DONNER CONSTRUCTION,...",2395 TEMPLE HILLS DR.,LAGUNA BEACH,CA,92651,A,0000,N,S,1521,236118,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31712 SCENIC DR.,LAGUNA BEACH,CA,92651,N085 000029926,3.0,2013-12-04,2016-02-16,2014-02-05,2015-08-20,2016-02-19 01:11:40,317144186,A,102852522,NaN,NaN,2016-02-19 01:12:02 EST,317144186,01001,NaN,1637 B06,O,2014-02-10,2014-02-13,I,100.0,250.0,2014-03-03,2014-12-16 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-02-19 01:12:12 EST
110219,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ...",317229540,950632,ROBERTS CUSTOM ROOFING,1056 S 18TH ST,EL CENTRO,CA,92243,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 4296,EL CENTRO,CA,92244,N064 000033568,3.0,2013-08-15,2017-05-16,2014-01-27,NaT,2017-05-19 01:01:37,317229540,A,101477180,NaN,NaN,2017-05-19 01:01:44 EDT,317229540,02001,NaN,1511 B,S,2014-01-27,2014-01-30,I,3500.0,4500.0,2014-03-28,2015-08-06 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-05-19 01:01:52 EDT
110222,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ...",317585123,0950411,"VAREL INTERNATIONAL IND., ...",2740 CASSIE'S PLACE,SAFFORD,AZ,85546,A,0000,N,H,4225,493110,A,A,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1625 W CROSBY RD, STE 124",CARROLLTON,TX,75006,N082 000061831,1.0,2014-01-13,2014-09-18,2014-01-13,2014-06-30,2014-09-22 01:01:17,317585123,A,101996981,NaN,NaN,2014-09-22 01:01:19 EDT,317585123,01001,NaN,19100178 I01,S,2014-04-18,2014-04-23,I,7000.0,7000.0,NaT,NaT,1.0,2.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2014-09-22 01:01:19 EDT

I want to create a new column where `activity_nr` and `citation_id` are combined.

In [394]:
accident_w_insp_violation['_act_citation_nr'] = accident_w_insp_violation['rel_insp_nr'] + '-' + accident_w_insp_violation['citation_id']
accident_w_insp_violation

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,contest_date,final_order_date,nr_instances,nr_exposed,rec,gravity,emphasis,hazcat,fta_insp_nr,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt,_act_citation_nr
0,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....,313748543,0257250,WASTE LANDFILL RECYCLING S...,BO. LUNA CARRETERA 13 DE ...,GUANICA,PR,00653,A,0000,N,S,9511,924110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URB SAN ANTONIO CALLE DILE...,GUANICA,PR,00728,N112 000018483,18.0,2013-04-10,2013-12-06,2013-04-18,2013-08-26,2013-12-09 01:00:35,313748543,A,100580208,NaN,NaN,2013-12-09 01:00:37 EST,313748543,01002,NaN,19040039 A,S,2013-07-19,2013-07-23 00:00:00,X,1200.0,2000.0,NaT,NaT,1.0,1.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-09 01:00:37 EST,313748543-01002
1,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....,313748543,0257250,WASTE LANDFILL RECYCLING S...,BO. LUNA CARRETERA 13 DE ...,GUANICA,PR,00653,A,0000,N,S,9511,924110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URB SAN ANTONIO CALLE DILE...,GUANICA,PR,00728,N112 000018483,18.0,2013-04-10,2013-12-06,2013-04-18,2013-08-26,2013-12-09 01:00:35,313748543,A,100580208,NaN,NaN,2013-12-09 01:00:37 EST,313748543,01001,NaN,6A0001,S,2013-07-19,2013-07-29 00:00:00,X,360.0,600.0,NaT,NaT,1.0,1.0,A,1.0,NaN,UNCLASS,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-09 01:00:37 EST,313748543-01001
2,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01001,NaN,19260050 C,S,2013-11-26,2014-01-13,X,1000.0,2100.0,2013-12-20,2014-01-24 00:00:00,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01001
3,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01003,X,19261053 B10,S,2013-11-26,2013-11-29,I,840.0,840.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01003
4,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01002,NaN,19260050 E,S,2013-11-26,2013-12-29,X,1000.0,2100.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110218,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ...",317229540,950632,ROBERTS CUSTOM ROOFING,1056 S 18TH ST,EL CENTRO,CA,92243,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 4296,EL CENTRO,CA,92244,N064 000033568,3.0,2013-08-15,2017-05-16,2014-01-27,NaT,2017-05-19 01:01:37,317229540,A,101477180,NaN,NaN,2017-05-19 01:01:44 EDT,317229540,01001,NaN,1509 A,O,2014-01-27,2014-02-24,X,125.0,125.0,2014-03-28,2014-02-24 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-05-19 01:01:52 EDT,317229540-01001
110219,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ...",317229540,950632,ROBERTS CUSTOM ROOFING,1056 S 18TH ST,EL CENTRO,CA,92243,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 4296,EL CENTRO,CA,92244,N064 000033568,3.0,2013-08-15,2017-05-16,2014-01-27,NaT,2017-05-19 01:01:37,317229540,A,101477180,NaN,NaN,2017-05-19 01:01:44 EDT,317229540,02001,NaN,1511 B,S,2014-01-27,2014-01-30,I,3500.0,4500.0,2014-03-28,2015-08-06 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-05-19 01:01:52 EDT,317229540-02001
110220,317248219,950621,2013-11-26 10:45:00,Employee Falls from Porch ...,"FRACTURE,SLIP,HANDRAIL,WAL...",NaN,NaN,NaN,NaN,NaN,8051,NaN,2019-07-22 00:18:31,317248219,49.0,M,12.0,16.0,42.0,5.0,8.0,10.0,999.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At about 10:45 a.m. on Nov...,317248219,0950621,ESKATON CARE CENTER,11300 FAIR OAKS BLVD,FAIR OAKS,CA,95628,A,0000,N,S,8051,623110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000039717,180.0,2013-12-19,2016-05-13,2014-05-30,2014-09-17,2016-05-16 01:01:51,317248219,A,102687217,NaN,NaN,2016-05-16 01:01:54 EDT,317248219,01001,NaN,342 A,O,2014-05-30,2014-06-04,I,3750.0,5000.0,2014-06-04,2014-07-11 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-05-16 01:01:54 EDT,317248219-01001
110221,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ...",317585123,0950411,"VAREL INTERNATIONAL IND., ...",2740 CASSIE'S PLACE,SAFFORD,AZ,85546,A,0000,N,H,4225,493110,A,A,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1625 W CROSBY RD, STE 124",CARROLLTON,TX,75006,N082 000061831,1.0,2014-01-13,2014-09-18,2014-01-13,2014-06-30,2014-09-22 01:01:17,317585123,A,101996981,NaN,NaN,2014-09-22 01:01:19 EDT,317585123,01002,NaN,19100178 L01 I,S,2014-04-18,2014-04-23,I,2000.0,2000.0,NaT,NaT,1.0,2.0,NaN,3.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2014-09-22 01:01:19 EDT,317585123-01002
110222,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ...",317585123,0950411,"VAREL INTERNATIONAL IND., ...",2740 CASSIE'S PLACE,SAFFORD,AZ,85546,A,0000,N,H,4225,493110,A,A,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1625 W CROSBY RD, STE 124",CARROLLTON,TX,75006,N082 000061831,1.0,2014-01-13,2014-09-18,2014-01-13,2014-06-30,2014-09-22 01:01:17,317585123,A,101996981,NaN,NaN,2014-09-22 01:01:19 EDT,317585123,01001,NaN,19100178 I01,S,2014-04-18,2014-04-23,I,7000.0,7000.0,NaT,NaT,1.0,2.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2014-09-22 01:01:19 EDT,317585123-01001

There could be multiple violations related to each accident or inspection, so the number of rows greatly increased here.

## merge osha_violation_event

In [251]:
violation_event0 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event0.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event1 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event1.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event2 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event2.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event3 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event3.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event4 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event4.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event5 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event5.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event6 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event6.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event7 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event7.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event8 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event8.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event9 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event9.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

violation_event10 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event10.csv', dtype={
    'activity_nr': str,
    'hist_insp_nr': str
}, parse_dates=['hist_date', 'hist_abate_date'])

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_81839/1269039925.py:16: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  violation_event3 = pd.read_csv('./data/osha_violation_event_20230703.csv/osha_violation_event3.csv', dtype={

In [253]:
# concatenate

violation_event = pd.concat(
    [violation_event0,
    violation_event1,
    violation_event2,
    violation_event3,
    violation_event4,
    violation_event5,
    violation_event6,
    violation_event7,
    violation_event8,
    violation_event9,
    violation_event10],
    axis=0
)

In [400]:
violation_event.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10881630 entries, 0 to 881629
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   activity_nr      object
 1   citation_id      object
 2   pen_fta          object
 3   hist_event       object
 4   hist_date        datetime64[ns]
 5   hist_penalty     float64
 6   hist_abate_date  object
 7   hist_vtype       object
 8   hist_insp_nr     object
 9   load_dt          object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 913.2+ MB

In [402]:
violation_event['_act_citation_nr'] = violation_event['activity_nr'].astype(str) + '-' + violation_event['citation_id'].astype(str)
violation_event

,activity_nr,citation_id,pen_fta,hist_event,hist_date,hist_penalty,hist_abate_date,hist_vtype,hist_insp_nr,load_dt,_act_citation_nr
0,16865,01001,P,I,1984-01-27,140.0,1984-02-11 00:00:00,S,NaN,2017-10-03 01:08:37 EDT,16865-01001
1,16865,01001,P,Z,1984-02-07,280.0,1984-02-11 00:00:00,S,NaN,2017-10-03 01:08:37 EDT,16865-01001
2,100586,01001,P,I,1984-02-10,40.0,1984-02-17 00:00:00,S,NaN,2011-10-14 16:48:14 EDT,100586-01001
3,100586,01001,P,Z,1984-02-29,80.0,1984-02-17 00:00:00,S,NaN,2011-10-14 16:48:14 EDT,100586-01001
4,100784,01001,P,I,1984-03-10,50.0,1984-03-09 00:00:00,S,NaN,2011-10-14 16:48:14 EDT,100784-01001
...,...,...,...,...,...,...,...,...,...,...,...
881625,346778574,01002,P,Z,2023-06-22,4018.0,NaT,S,NaN,2023-07-03 00:42:52 EDT,346778574-01002
881626,346778574,01001,P,Z,2023-06-22,4688.0,NaT,S,NaN,2023-07-03 00:42:52 EDT,346778574-01001
881627,346778574,01003,P,Z,2023-06-22,2009.0,NaT,S,NaN,2023-07-03 00:42:52 EDT,346778574-01003
881628,346781404,01002,P,Z,2023-06-22,4688.0,2023-07-05 00:00:00,S,NaN,2023-07-03 00:42:52 EDT,346781404-01002
881629,346781404,01001,P,Z,2023-06-22,4018.0,2023-07-05 00:00:00,S,NaN,2023-07-03 00:42:52 EDT,346781404-01001

In [397]:
accident_w_insp_violation

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,contest_date,final_order_date,nr_instances,nr_exposed,rec,gravity,emphasis,hazcat,fta_insp_nr,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt,_act_citation_nr
0,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....,313748543,0257250,WASTE LANDFILL RECYCLING S...,BO. LUNA CARRETERA 13 DE ...,GUANICA,PR,00653,A,0000,N,S,9511,924110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URB SAN ANTONIO CALLE DILE...,GUANICA,PR,00728,N112 000018483,18.0,2013-04-10,2013-12-06,2013-04-18,2013-08-26,2013-12-09 01:00:35,313748543,A,100580208,NaN,NaN,2013-12-09 01:00:37 EST,313748543,01002,NaN,19040039 A,S,2013-07-19,2013-07-23 00:00:00,X,1200.0,2000.0,NaT,NaT,1.0,1.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-09 01:00:37 EST,313748543-01002
1,100580208,257250,2013-04-09 13:30:00,Employee Is Killed When St...,"LOADING,INTERMODAL CONTAIN...",NaN,NaN,NaN,NaN,NaN,9511,X,2019-07-22 00:18:28,313748543,45.0,M,21.0,1.0,30.0,6.0,18.0,10.0,999.0,1.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At approximately 1:30 p.m....,313748543,0257250,WASTE LANDFILL RECYCLING S...,BO. LUNA CARRETERA 13 DE ...,GUANICA,PR,00653,A,0000,N,S,9511,924110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URB SAN ANTONIO CALLE DILE...,GUANICA,PR,00728,N112 000018483,18.0,2013-04-10,2013-12-06,2013-04-18,2013-08-26,2013-12-09 01:00:35,313748543,A,100580208,NaN,NaN,2013-12-09 01:00:37 EST,313748543,01001,NaN,6A0001,S,2013-07-19,2013-07-29 00:00:00,X,360.0,600.0,NaT,NaT,1.0,1.0,A,1.0,NaN,UNCLASS,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-09 01:00:37 EST,313748543-01001
2,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01001,NaN,19260050 C,S,2013-11-26,2014-01-13,X,1000.0,2100.0,2013-12-20,2014-01-24 00:00:00,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01001
3,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01003,X,19261053 B10,S,2013-11-26,2013-11-29,I,840.0,840.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01003
4,100924828,355116,2013-06-04 16:45:00,Employee Falls from Ladder...,"ROOF,LADDER,FALL,PAINTER",A,2.0,NaN,E,A,1721,X,2019-07-22 00:18:28,317130706,47.0,M,3.0,1.0,25.0,5.0,5.0,1.0,999.0,1.0,1.0,NaN,15.0,15.0,14.0,NaN,20.0,1.0,"On June 4, 2014, Employee ...",317130706,355116,SARY PAINTING INC,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,A,NaN,N,S,1721,238320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,2239 POWDERHORN PLACE,HARRISONBURG,VA,22802,N017 000106495,2.0,2013-06-04,2017-08-10,2013-09-13,2016-08-04,2017-08-13 01:04:09,317130706,A,100924828,,,2017-08-13 01:04:46 EDT,317130706,01002,NaN,19260050 E,S,2013-11-26,2013-12-29,X,1000.0,2100.0,2013-12-20,2014-01-24 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-08-13 01:04:58 EDT,317130706-01002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110218,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ...",317229540,950632,ROBERTS CUSTOM ROOFING,1056 S 18TH ST,EL CENTRO,CA,92243,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 4296,EL CENTRO,CA,92244,N064 000033568,3.0,2013-08-15,2017-05-16,2014-01-27,NaT,2017-05-19 01:01:37,317229540,A,101477180,NaN,NaN,2017-05-19 01:01:44 EDT,317229540,01001,NaN,1509 A,O,2014-01-27,2014-02-24,X,125.0,125.0,2014-03-28,2014-02-24 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-05-19 01:01:52 EDT,317229540-01001
110219,317229540,950632,2013-08-14 09:13:00,Three Workers Fall from Co...,"BURN,COLLAPSE,CONSTRUCTION...",A,1.0,10.0,A,C,1761,NaN,2019-07-22 00:18:31,317229540,60.0,M,5.0,4.0,8.0,5.0,8.0,1.0,999.0,2.0,1.0,NaN,0.0,0.0,15.0,NaN,10.0,1.0,"On August 14, 2013, Employ...",317229540,950632,ROBERTS CUSTOM ROOFING,1056 S 18TH ST,EL CENTRO,CA,92243,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 4296,EL CENTRO,CA,92244,N064 000033568,3.0,2013-08-15,2017-05-16,2014-01-27,NaT,2017-05-19 01:01:37,317229540,A,101477180,NaN,NaN,2017-05-19 01:01:44 EDT,317229540,02001,NaN,1511 B,S,2014-01-27,2014-01-30,I,3500.0,4500.0,2014-03-28,2015-08-06 00:00:00,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2017-05-19 01:01:52 EDT,317229540-02001
110220,317248219,950621,2013-11-26 10:45:00,Employee Falls from Porch ...,"FRACTURE,SLIP,HANDRAIL,WAL...",NaN,NaN,NaN,NaN,NaN,8051,NaN,2019-07-22 00:18:31,317248219,49.0,M,12.0,16.0,42.0,5.0,8.0,10.0,999.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,At about 10:45 a.m. on Nov...,317248219,0950621,ESKATON CARE CENTER,11300 FAIR OAKS BLVD,FAIR OAKS,CA,95628,A,0000,N,S,8051,623110,A,B,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000,N092 000039717,180.0,2013-12-19,2016-05-13,2014-05-30,2014-09-17,2016-05-16 01:01:51,317248219,A,102687217,NaN,NaN,2016-05-16 01:01:54 EDT,317248219,01001,NaN,342 A,O,2014-05-30,2014-06-04,I,3750.0,5000.0,2014-06-04,2014-07-11 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-05-16 01:01:54 EDT,317248219-01001
110221,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ...",317585123,0950411,"VAREL INTERNATIONAL IND., ...",2740 CASSIE'S PLACE,SAFFORD,AZ,85546,A,0000,N,H,4225,493110,A,A,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1625 W CROSBY RD, STE 124",CARROLLTON,TX,75006,N082 000061831,1.0,2014-01-13,2014-09-18,2014-01-13,2014-06-30,2014-09-22 01:01:17,317585123,A,101996981,NaN,NaN,2014-09-22 01:01:19 EDT,317585123,01002,NaN,19100178 L01 I,S,2014-04-18,2014-04-23,I,2000.0,2000.0,NaT,NaT,1.0,2.0,NaN,3.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2014-09-22 01:01:19 EDT,317585123-01002
110222,317585123,950411,2014-01-09 12:00:00,Employee Is Discovered Unc...,"UNCONSCIOUSNESS,WAREHOUSE,...",NaN,NaN,NaN,NaN,NaN,4225,X,2019-07-22 00:18:31,317585123,34.0,M,2.0,4.0,19.0,8.0,7.0,1.0,856.0,1.0,1.0,C730,0.0,0.0,0.0,NaN,NaN,1.0,"On January 9, 2014, Employ...",317585123,0950411,"VAREL INTERNATIONAL IND., ...",2740 CASSIE'S PLACE,SAFFORD,AZ,85546,A,0000,N,H,4225,493110,A,A,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1625 W CROSBY RD, STE 124",CARROLLTON,TX,75006,N082 000061831,1.0,2014-01-13,2014-09-18,2014-01-13,2014-06-30,2014-09-22 01:01:17,317585123,A,101996981,NaN,NaN,2014-09-22 01:01:19 EDT,317585123,01001,NaN,19100178 I01,S,2014-04-18,2014-04-23,I,7000.0,7000.0,NaT,NaT,1.0,2.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2014-09-22 01:01:19 EDT,317585123-01001

In [405]:
accident_violation_detail = accident_w_insp_violation.merge(
    pd.notnull(violation_event._act_citation_nr),
    how='left',
    on='_act_citation_nr',
    validate='m:m'
)

In [406]:
accident_violation_detail.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110223 entries, 0 to 110222
Data columns (total 104 columns):
 #    Column                Non-Null Count   Dtype
---   ------                --------------   -----
 0    summary_nr            110223 non-null  object
 1    report_id             110223 non-null  object
 2    event_date            110223 non-null  datetime64[ns]
 3    event_desc            110223 non-null  object
 4    event_keyword         110012 non-null  object
 5    const_end_use         23092 non-null   object
 6    build_stories         16831 non-null   float64
 7    nonbuild_ht           12727 non-null   float64
 8    project_cost          6478 non-null    object
 9    project_type          24110 non-null   object
 10   sic_list              7060 non-null    object
 11   fatality              49210 non-null   object
 12   load_dt_x             110223 non-null  datetime64[ns]
 13   rel_insp_nr           110222 non-null  object
 14   age                   110222 non-null  float64
 15   sex                   7017 non-null    object
 16   nature_of_inj         7641 non-null    float64
 17   part_of_body          7641 non-null    float64
 18   src_of_injury         7641 non-null    float64
 19   event_type            110096 non-null  float64
 20   evn_factor            7641 non-null    float64
 21   hum_factor            7641 non-null    float64
 22   occ_code              97942 non-null   float64
 23   degree_of_inj         110096 non-null  float64
 24   task_assigned         86545 non-null   float64
 25   hazsub                496 non-null     object
 26   const_op              7310 non-null    float64
 27   const_op_cause        28659 non-null   float64
 28   fat_cause             7267 non-null    float64
 29   fall_distance         8742 non-null    float64
 30   fall_ht               9230 non-null    float64
 31   injury_line_nr        110222 non-null  float64
 32   abstract_text         110220 non-null  object
 33   activity_nr_x         110186 non-null  object
 34   reporting_id          110186 non-null  object
 35   estab_name            110186 non-null  object
 36   site_address          110186 non-null  object
 37   site_city             110166 non-null  object
 38   site_state            110186 non-null  object
 39   site_zip              110184 non-null  object
 40   owner_type            110186 non-null  object
 41   owner_code            6758 non-null    object
 42   adv_notice            110186 non-null  object
 43   safety_hlth           110186 non-null  object
 44   sic_code              11880 non-null   object
 45   naics_code            110185 non-null  object
 46   insp_type             110186 non-null  object
 47   insp_scope            110186 non-null  object
 48   why_no_insp           103211 non-null  object
 49   union_status          110155 non-null  object
 50   safety_manuf          1405 non-null    object
 51   safety_const          1182 non-null    object
 52   safety_marit          10 non-null      object
 53   health_manuf          157 non-null     object
 54   health_const          13 non-null      object
 55   health_marit          0 non-null       object
 56   migrant               235 non-null     object
 57   mail_street           108298 non-null  object
 58   mail_city             108250 non-null  object
 59   mail_state            108249 non-null  object
 60   mail_zip              110107 non-null  object
 61   host_est_key          110186 non-null  object
 62   nr_in_estab           110143 non-null  float64
 63   open_date             110186 non-null  datetime64[ns]
 64   case_mod_date         110186 non-null  datetime64[ns]
 65   close_conf_date       109205 non-null  datetime64[ns]
 66   close_case_date       95781 non-null   datetime64[ns]
 67   ld_dt                 110186 non-null  datetime64[ns]
 68   activity_nr_y         108630 non-null  object
 69   rel_type              108630 non-null  object
 70   rel_act_nr            108630 non-null  object
 71   rel_safety            41382 non-null   object
 72   rel_health            6173 non-null    object
 73   load_dt_y             108630 non-null  object
 74   activity_nr           97443 non-null   object
 75   citation_id           97443 non-null   object
 76   delete_flag           8456 non-null    object
 77   standard              97443 non-null   object
 78   viol_type             97443 non-null   object
 79   issuance_date         97443 non-null   datetime64[ns]
 80   abate_date            73021 non-null   object
 81   abate_complete        89272 non-null   object
 82   current_penalty       96124 non-null   float64
 83   initial_penalty       96796 non-null   float64
 84   contest_date          34057 non-null   datetime64[ns]
 85   final_order_date      89413 non-null   object
 86   nr_instances          97443 non-null   float64
 87   nr_exposed            96744 non-null   float64
 88   rec                   36101 non-null   object
 89   gravity               70308 non-null   float64
 90   emphasis              0 non-null       object
 91   hazcat                23 non-null      object
 92   fta_insp_nr           60 non-null      object
 93   fta_issuance_date     60 non-null      datetime64[ns]
 94   fta_penalty           1027 non-null    float64
 95   fta_contest_date      5 non-null       datetime64[ns]
 96   fta_final_order_date  21 non-null      datetime64[ns]
 97   hazsub1               1645 non-null    object
 98   hazsub2               396 non-null     object
 99   hazsub3               196 non-null     object
 100  hazsub4               144 non-null     object
 101  hazsub5               118 non-null     object
 102  load_dt               97443 non-null   object
 103  _act_citation_nr      97443 non-null   object
dtypes: datetime64[ns](12), float64(25), object(67)
memory usage: 88.3+ MB

In [408]:
accident_violation_detail.sort_values(by='rel_insp_nr')

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,rel_insp_nr,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,contest_date,final_order_date,nr_instances,nr_exposed,rec,gravity,emphasis,hazcat,fta_insp_nr,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt,_act_citation_nr
6022,202674941,950621,2013-05-20 13:08:00,Roofer Falls Through Skyli...,"SKYLIGHT,FRACTURE,ROOF,CAR...",H,2.0,30.0,B,C,1761,NaN,2019-07-22 00:18:31,119920288,41.0,M,12.0,4.0,42.0,5.0,18.0,1.0,554.0,2.0,1.0,NaN,43.0,43.0,20.0,NaN,19.0,1.0,"On May 20, 2013, Employee ...",119920288,950621,"WESTERN FOAM, INC",1100 MARAUDER ST,CHICO,CA,95973,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,1465 BARRY RD,YUBA CITY,CA,95993,N092 000038818,6.0,2013-06-04,2019-06-17,2013-06-26,2015-07-03,2019-06-20 00:23:15,119920288,A,102684511,,,2019-06-20 00:27:41 EDT,119920288,02001,NaN,3212 E,S,2013-07-08,2013-07-11 00:00:00,I,7000.0,13500.0,2013-07-25,2013-12-31 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2019-06-20 00:30:24 EDT,119920288-02001
6021,202674941,950621,2013-05-20 13:08:00,Roofer Falls Through Skyli...,"SKYLIGHT,FRACTURE,ROOF,CAR...",H,2.0,30.0,B,C,1761,NaN,2019-07-22 00:18:31,119920288,41.0,M,12.0,4.0,42.0,5.0,18.0,1.0,554.0,2.0,1.0,NaN,43.0,43.0,20.0,NaN,19.0,1.0,"On May 20, 2013, Employee ...",119920288,950621,"WESTERN FOAM, INC",1100 MARAUDER ST,CHICO,CA,95973,A,NaN,N,S,1761,238160,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,1465 BARRY RD,YUBA CITY,CA,95993,N092 000038818,6.0,2013-06-04,2019-06-17,2013-06-26,2015-07-03,2019-06-20 00:23:15,119920288,A,102684511,,,2019-06-20 00:27:41 EDT,119920288,01001,NaN,342 A,O,2013-07-08,2013-07-11 00:00:00,I,5000.0,5000.0,2013-07-25,2013-12-31 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,0.0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2019-06-20 00:30:24 EDT,119920288-01001
43,170784706,950621,2013-06-25 16:00:00,Employee Is Engulfed in Fl...,"BURN,FLAMMABLE LIQUID,FIRE...",NaN,NaN,NaN,NaN,NaN,7363,NaN,2019-07-22 00:18:29,119920429,28.0,M,5.0,19.0,16.0,2.0,8.0,1.0,889.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On June 25, 2013, Employee...",119920429,0950621,RUSH PERSONNEL SERVICES INC,CRANMORE FARMS LEVEE,ROBBINS,CA,95676,A,0000,N,S,7363,561320,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,15 INDEPENDENCE CIRCLE,CHICO,CA,95973,N092 000039004,100.0,2013-07-08,2013-12-03,2013-09-17,2013-11-27,2013-12-06 01:02:07,119920429,A,102685054,NaN,NaN,2013-12-06 01:02:10 EST,119920429,01001,NaN,3203 A,O,2013-09-27,2013-10-30 00:00:00,X,465.0,465.0,NaT,NaT,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2013-12-06 01:02:13 EST,119920429-01001
46,170784730,950621,2013-07-22 08:30:00,"Employee Falls from Tree, ...","ATTACHMENT HOOK,FRACTURE,R...",NaN,NaN,NaN,NaN,NaN,851,NaN,2019-07-22 00:18:29,119920445,33.0,M,12.0,2.0,43.0,5.0,18.0,1.0,889.0,2.0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0,"On July 22, 2013, Employee...",119920445,0950621,MOUNTAIN F ENTERPRISES INC,3523 BLACKWOOD RD,SOUTH LAKE TAHOE,CA,96150,A,0000,N,S,0851,115310,A,B,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 1040,LOTUS,CA,95651,N092 000039166,100.0,2013-07-30,2016-03-11,2013-09-27,2014-12-27,2016-03-14 01:02:40,119920445,A,102685484,NaN,NaN,2016-03-14 01:02:43 EDT,119920445,01001,NaN,3427 A C2,S,2013-10-25,2013-10-30 00:00:00,I,9000.0,18000.0,2013-11-15,2014-08-13 00:00:00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2016-03-14 01:02:44 EDT,119920445-01001
6142,202675583,950621,2013-09-16 07:20:00,Worker Is Struck by Vehicl...,"FRACTURE,HIGHWAY,SHOULDER,...",I,NaN,NaN,A,E,1611,NaN,2019-07-22 00:18:31,119920486,48.0,F,12.0,21.0,29.0,1.0,18.0,14.0,599.0,2.0,1.0,NaN,51.0,51.0,7.0,NaN,NaN,1.0,"On September 16, 2013, Emp...",119920486,0950621,KNIFE RIVER CONSTRUCTION,1 MI N OF OROVILLE ON HWY 191,OROVILLE,CA,95965,A,0000,N,S,1611,237310,A,B,NaN,N,NaN,X,NaN,NaN,NaN,NaN,NaN,1764 SKYWAY,CHICO,CA,95928,N092 000039439,100.0,2013-09-25,2013-12-23,2013-12-17,2013-12-20,2013-12-26 01:01:27,119920486,A,361682685,NaN,NaN,2013-12-26 01:01:30 EST,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110158,221551625,0216000,2022-10-08 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,346565138,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:41 p.m. on October 8...,346565138,0216000,A. BAEZA LANDSCAPE AND TRE...,"200 HALSTEAD AVENUE, HARRI...",HARRISON,NY,10528,A,NaN,N,S,NaN,561730,M,A,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 WESTWAY,NEW ROCHELLE,NY,10801,HOST_EST_KEY_VALUE,2.0,2022-10-08,2023-07-02,2022-10-08,2023-05-11,2023-07-03 00:28:22,346565138,A,2010029,NaN,NaN,2023-07-03 00:33:08 EDT,346565138,01001,NaN,19100028 C,S,2023-04-04,NaT,3.0,3750.0,4688.0,NaT,2023-04-07,1.0,1.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:36:42 EDT,346565138-01001
110159,221551625,0216000,2022-10-08 00:00:00,EMPLOYEE IS KILLED WHEN ST...,"BLUNT FORCE,BLUNT FORCE TR...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,346565138,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 12:41 p.m. on October 8...,346565138,0216000,A. BAEZA LANDSCAPE AND TRE...,"200 HALSTEAD AVENUE, HARRI...",HARRISON,NY,10528,A,NaN,N,S,NaN,561730,M,A,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 WESTWAY,NEW ROCHELLE,NY,10801,HOST_EST_KEY_VALUE,2.0,2022-10-08,2023-07-02,2022-10-08,2023-05-11,2023-07-03 00:28:22,346565138,A,2010029,NaN,NaN,2023-07-03 00:33:08 EDT,346565138,01002,X,19100135 A01,S,2023-04-04,NaT,3.0,4688.0,4688.0,NaT,2023-04-07,1.0,1.0,A,10.0,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2023-07-03 00:36:42 EDT,346565138-01002
110146,221548829,0454713,2022-04-16 00:00:00,EMPLOYEE IS KILLED WHEN CR...,"ASPHYXIATED,COLLAPSE,CONST...",A,1.0,NaN,NaN,A,NaN,X,2023-07-03 00:18:42,346586928,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7010.0,1.0,NaN,NaN,NaN,11.0,NaN,NaN,NaN,1.0,"At 2:00 p.m. on April 16, ...",346586928,0454713,ARMANDO LEMUS,351 RIVER RUN TRAIL,SPRING CITY,TN,37381,A,NaN,N,S,NaN,236115,M,A,I,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78 FOX ROAD,PILESGROVE,NJ,08098,HOST_EST_KEY_VALUE,1.0,2022-04-16,2023-07-02,2022-04-16,2023-05-05,2023-07-03 00:28:22,346586928,I,1590196,X,NaN,2023-07-03 00:33:06 EDT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110150,221551229,0150900,2022-10-12 00:00:00,"TWO EMPLOYEES DIE, ONE IS ...","AMMUNITION,ASSAULT,BULLET,...",NaN,NaN,NaN,NaN,NaN,NaN,X,2023-07-03 00:18:42,346599673,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7030.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,At 10:45 p.m. on October 1...,346599673,0150900,CITY OF BRISTOL,POLICE DEPARTMENT 131 NORT...,BRISTOL,CT,06010,B,NaN,N,H,NaN,922120,M,B,I,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111 NORTH MAIN STREET,BRISTOL,CT,06010,HOST_EST_KEY_VALUE,120.0,2022-10-17,2023-07-02,2022-10-17,NaT,2023-07-03 00:28:22,346599673,A,2015179,NaN,NaN,2023-07-03 00:33:06 EDT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22577,220919468,0257260,2016-12-27 07:12:00,EMPLOYEE IS STRUCK AND KIL...,"STRUCK BY,HEAD,CHEST,AMUSE...",NaN,NaN,NaN,NaN,NaN,NaN,X,2017-04-13 01:01:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

export csv

In [412]:
accident_violation_detail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110223 entries, 0 to 110222
Columns: 104 entries, summary_nr to _act_citation_nr
dtypes: datetime64[ns](12), float64(25), object(67)
memory usage: 88.3+ MB

In [416]:
accident_violation_detail.groupby(by='rel_insp_nr').count().sort_values(by='summary_nr', ascending=False)

,summary_nr,report_id,event_date,event_desc,event_keyword,const_end_use,build_stories,nonbuild_ht,project_cost,project_type,sic_list,fatality,load_dt_x,age,sex,nature_of_inj,part_of_body,src_of_injury,event_type,evn_factor,hum_factor,occ_code,degree_of_inj,task_assigned,hazsub,const_op,const_op_cause,fat_cause,fall_distance,fall_ht,injury_line_nr,abstract_text,activity_nr_x,reporting_id,estab_name,site_address,site_city,site_state,site_zip,owner_type,owner_code,adv_notice,safety_hlth,sic_code,naics_code,insp_type,insp_scope,why_no_insp,union_status,safety_manuf,safety_const,safety_marit,health_manuf,health_const,health_marit,migrant,mail_street,mail_city,mail_state,mail_zip,host_est_key,nr_in_estab,open_date,case_mod_date,close_conf_date,close_case_date,ld_dt,activity_nr_y,rel_type,rel_act_nr,rel_safety,rel_health,load_dt_y,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,contest_date,final_order_date,nr_instances,nr_exposed,rec,gravity,emphasis,hazcat,fta_insp_nr,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt,_act_citation_nr
rel_insp_nr,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
345421648,72,72,72,72,72,0,0,0,0,0,0,72,72,72,0,0,0,0,72,0,0,72,72,0,0,0,0,0,0,0,72,72,72,72,72,72,72,72,72,72,0,72,72,0,72,72,72,72,72,0,0,0,0,0,0,0,72,72,72,72,72,72,72,72,72,0,72,72,72,72,0,0,72,72,72,0,72,72,72,63,66,72,72,0,72,72,72,2,63,0,0,0,0,0,0,0,2,0,0,0,0,72,72
341568665,51,51,51,51,51,0,0,0,0,0,0,51,51,51,0,0,0,0,51,0,0,0,51,51,0,0,0,0,0,0,51,51,51,51,51,51,51,51,51,51,0,51,51,0,51,51,51,51,51,0,0,0,0,0,0,0,51,51,51,51,51,51,51,51,51,0,51,51,51,51,0,51,51,51,51,0,51,51,51,51,0,51,51,51,0,51,51,5,50,0,0,0,0,0,0,0,0,0,0,0,0,51,51
340051861,50,50,50,50,50,0,0,0,0,0,0,50,50,50,0,0,0,0,50,0,0,50,50,50,0,0,0,0,0,0,50,50,50,50,50,50,50,50,50,50,0,50,50,0,50,50,50,50,50,0,0,0,0,0,0,0,50,50,50,50,50,50,50,50,50,50,50,50,50,50,0,0,50,50,50,0,50,50,50,50,50,50,50,50,50,50,50,24,41,0,0,0,0,0,0,0,0,0,0,0,0,50,50
340745843,47,47,47,47,47,0,0,0,0,0,0,47,47,47,0,0,0,0,47,0,0,47,47,47,0,0,0,0,0,0,47,47,47,47,47,47,47,47,47,47,0,47,47,0,47,47,47,47,47,0,0,0,0,0,0,0,47,47,47,47,47,47,47,47,47,0,47,47,47,47,0,0,47,47,47,0,47,47,47,47,18,47,47,47,47,47,47,3,47,0,0,28,28,28,0,0,0,0,0,0,0,47,47
342232873,46,46,46,46,46,46,0,0,0,46,0,0,46,46,0,0,0,0,46,0,0,46,46,46,0,0,46,0,0,0,46,46,46,46,46,46,46,46,46,46,0,46,46,0,46,46,46,46,46,0,0,0,0,0,0,0,46,46,46,46,46,46,46,46,46,0,46,46,46,46,46,0,46,46,46,0,46,46,46,46,46,46,46,46,46,46,46,46,46,0,0,0,0,0,0,0,0,0,0,0,0,46,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343239612,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
343239349,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
343239141,1,1,1,1,1,1,1,1,0,1,0,0,1,1,0,0,0,0,1,0,0,1,1,1,0,0,1,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
343238895,1,1,1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
346599673,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [413]:
accident_violation_detail.to_csv('./accident_violation_detail.csv', index=False)

### osha_violation_gen_duty_std

In [266]:
gen_duty_std0 = pd.read_csv('./data/osha_violation_gen_duty_std_20230703.csv/osha_violation_gen_duty_std0.csv', dtype={
    'activity_nr': str
})

gen_duty_std1 = pd.read_csv('./data/osha_violation_gen_duty_std_20230703.csv/osha_violation_gen_duty_std1.csv', dtype={
    'activity_nr': str
})

In [267]:
# concatenate

gen_duty_std = pd.concat([gen_duty_std0, gen_duty_std1], axis=0)

In [268]:
gen_duty_std

,activity_nr,citation_id,line_nr,line_text,load_dt
0,607366,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
1,607366,01001,112,fuel vapors prio...,2011-10-14 16:49...
2,607366,01001,111,correct this haz...,2011-10-14 16:49...
3,607366,01001,110,Among othe metho...,2011-10-14 16:49...
4,607366,01001,109,ignition of flam...,2011-10-14 16:49...
...,...,...,...,...,...
271078,346676703,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271079,346693179,01002,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271080,346699051,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...
271081,346701345,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271082,346707839,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...

In [276]:
# check for n/a

gen_duty_std.isnull().sum()

activity_nr    0
citation_id    0
line_nr        0
line_text      4
load_dt        0
dtype: int64

In [277]:
gen_duty_std = gen_duty_std.fillna('none')

In [278]:
gen_duty_std['line_text'] = gen_duty_std.groupby(['activity_nr'])['line_text'].transform(lambda x: ''.join(x))

In [279]:
gen_duty_std

,activity_nr,citation_id,line_nr,line_text,load_dt
0,607366,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
1,607366,01001,112,Section 5(a)(1) ...,2011-10-14 16:49...
2,607366,01001,111,Section 5(a)(1) ...,2011-10-14 16:49...
3,607366,01001,110,Section 5(a)(1) ...,2011-10-14 16:49...
4,607366,01001,109,Section 5(a)(1) ...,2011-10-14 16:49...
...,...,...,...,...,...
271078,346676703,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271079,346693179,01002,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271080,346699051,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...
271081,346701345,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
271082,346707839,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...

In [280]:
gen_duty_std = gen_duty_std.drop_duplicates('activity_nr').reset_index(drop=True)

In [281]:
gen_duty_std

,activity_nr,citation_id,line_nr,line_text,load_dt
0,607366,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
1,614560,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
2,618876,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
3,621060,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
4,622324,01001,101,Section 5(a)(1) ...,2011-10-14 16:49...
...,...,...,...,...,...
46675,346676703,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
46676,346693179,01002,1,OSH ACT of 1970 ...,2023-07-03 00:45...
46677,346699051,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...
46678,346701345,01001,1,OSH ACT of 1970 ...,2023-07-03 00:45...
46679,346707839,01001,1,Section 5(a)(1) ...,2023-07-03 00:45...